[2012-07-27 13:37] msampaio opened #1 "Edição de canções 1-20, coleção Pixinguinha"
### Instruções gerais
- Verificar o prazo de entrega da tarefa (milestone)
- Verificar [guia de realização de tarefas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/)
- A [página da pesquisa](http://genosmus.com/pesquisa/contornos/choro/) contém outras informações adicionais
- Toda a discussão acerca desta tarefa deverá ser feita usando os comentários da tarefa. NÃO USAR EMAIL. O G

[2012-07-27 14:06] msampaio opened #2 "Instalação de ferramentas da pesquisa"
### Instruções gerais
- Verificar o prazo de entrega da tarefa (milestone)
- Verificar [guia de realização de tarefas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/)
- A [página da pesquisa](http://genosmus.com/pesquisa/contornos/choro/) contém outras informações adicionais
- Toda a discussão acerca desta tarefa deverá ser feita usando os comentários da tarefa. NÃO USAR EMAIL. O G

[2012-08-02 15:07] msampaio commented on #2
Instalar apenas os repositórios e aceitar o convite do Dropbox para a pasta da pesquisa. Deixar a instalação do Music21 para outro issue.

[2012-08-02 15:11] msampaio commented on #1
Neste primeiro commit, colocar os arquivos .mus e .xml dentro do diretório do Dropbox, organizado em choros-corpus/Pixinguinha. Deixar a inserção dos xml no repositório para os demais commit.

[2012-08-07 10:15] msampaio opened #3 "Instalação do Music21"
### Instruções gerais
- Verificar o prazo de entrega da tarefa (milestone)
- Verificar [guia de realização de tarefas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/)
- A [página da pesquisa](http://genosmus.com/pesquisa/contornos/choro/) contém outras informações adicionais
- Toda a discussão acerca desta tarefa deverá ser feita usando os comentários da tarefa. NÃO USAR EMAIL. O G

[2012-08-07 18:05] EduardoNunes commented on #2
Marcos, está dando o seguinte erro na atualização:

eduardo@eduardo-desktop:~/choros-contour$ git submodule update
Permission denied (publickey).
fatal: The remote end hung up unexpectedly
Unable to fetch in submodule path 'choros-corpus'

[2012-08-07 18:21] msampaio commented on #2
Eduardo,

Acabei de ver que você não está na lista de permissões do submódulo choros-corpus no bitbucket. Qual o seu nome de usuário lá?

[2012-08-08 12:11] EduardoNunes commented on #1
Aqui contem erros nas edições. Tanto erros sobre coisas que eu ainda preciso pesquisar no finale, quanto erros de escrita do próprio livro de choros.

Música 03 - Tem um defeito na repetição que ainda tenho que pesquisar como consertar, e um defeito no Fine.
Música 04 - Está tudo OK, porém tem uma segunda voz que me parece fazer parte da melodia, mas não escrevi.
Música 08 - Acredito que as repeti

[2012-08-08 12:12] EduardoNunes commented on #2
Meu usuário é 'Eduardo Lago Nunes'

Em 7 de agosto de 2012 15:21, Marcos da Silva Sampaio <
notifications@github.com> escreveu:

##

Eduardo Lago

[2012-08-08 12:16] msampaio commented on #1
Coloque os arquivos .mus e .xml do que você já fez na pasta Drobpox. Veja instruções no [guia](http://genosmus.com/pesquisa/contornos/choro/guia/). Faça as edições direto no Dropbox, como sempre fizemos na disciplina de Composição.
Além disso vamos criar um arquivo para documentar todos os problemas que você falou aqui.

[2012-08-08 12:17] msampaio commented on #2
Ok. Permissão concedida.

[2012-08-08 17:28] msampaio commented on #2
Você precisa cadastrar sua senha pública ssh ~/.ssh/id_rsa.pub no [Bitbucket](https://bitbucket.org). Veja accounts/ssh keys

[2012-08-08 17:50] msampaio commented on #1
Na música "Ainda me recordo" escrever a duas vozes para usarmos como experimento para análise de contornos polifônicos.

[2012-08-08 17:53] msampaio opened #4 "Edição de canções 21-71, coleção Pixinguinha"
### Instruções gerais
- Verificar o prazo de entrega da tarefa (milestone)
- Verificar [guia de realização de tarefas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/)
- A [página da pesquisa](http://genosmus.com/pesquisa/contornos/choro/) contém outras informações adicionais
- Toda a discussão acerca desta tarefa deverá ser feita usando os comentários da tarefa. NÃO USAR EMAIL. O G

[2012-08-22 11:07] msampaio opened #5 "Edição de canções 1-30, coleção O melhor do choro vol. 1"
### Instruções gerais
- Verificar o prazo de entrega da tarefa (milestone)
- Verificar [guia de realização de tarefas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/)
- A [página da pesquisa](http://genosmus.com/pesquisa/contornos/choro/) contém outras informações adicionais
- Toda a discussão acerca desta tarefa deverá ser feita usando os comentários da tarefa. NÃO USAR EMAIL. O G

[2012-08-22 17:42] #1 closed, assigned to EduardoNunes

[2012-08-22 17:42] #4 closed, assigned to EduardoNunes

[2012-08-22 17:43] #2 closed, assigned to EduardoNunes

[2012-08-22 17:49] msampaio opened #6 "Categorizar problemas da coleção Pixinguinha"
### Instruções gerais
- Verificar o prazo de entrega da tarefa (milestone)
- Verificar [guia de realização de tarefas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/)
- A [página da pesquisa](http://genosmus.com/pesquisa/contornos/choro/) contém outras informações adicionais
- Toda a discussão acerca desta tarefa deverá ser feita usando os comentários da tarefa. NÃO USAR EMAIL. O G

[2012-08-30 09:47] msampaio opened #7 "Edição de canções 31-60, coleção O melhor do choro vol. 1"
### Instruções gerais
- Verificar o prazo de entrega da tarefa (milestone)
- Verificar [guia de realização de tarefas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/)
- A [página da pesquisa](http://genosmus.com/pesquisa/contornos/choro/) contém outras informações adicionais
- Toda a discussão acerca desta tarefa deverá ser feita usando os comentários da tarefa. NÃO USAR EMAIL. O G

[2012-08-30 09:47] #5 closed, assigned to EduardoNunes

[2012-08-30 09:50] msampaio opened #8 "Verificar erros com enumeração de eventos"
O enumerador song_enumerator.py está tendo algum problema com a expansão do [Music21](http://mit.edu/music21). Em todas as canções o Music21 retorno o erro:

[code]

Esta tarefa é prerequisito para as próximas ações listadas nas [notas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/#Notas_gerais_da_pesquisa).

[2012-08-30 09:53] #6 closed, assigned to EduardoNunes

[2012-08-30 15:43] msampaio opened #9 "Elaborar testes para expansão de repetições do Music21"
Elaborar versões diferentes da edição da composição "Pixinguinha/01 - Abraçando Jacaré" para testar problema com repetições no Music21.
Para encontrar o problema é necessário criar um exemplo para cada tipo de sinal de repetição a testar:
- ritornelo
- casa 1 e 2
- DC al coda
- Fine

Em seguida é bom criar um exemplo para cada combinação entre estes elementos. Inserir outros sinais de repetição pr

[2012-08-31 11:28] #9 closed, assigned to EduardoNunes

[2012-08-31 11:30] msampaio opened #10 "Editar uma composição inteiramente no MuseScore"
Editar a composição "Pixinguinha/01 - Abraçando Jacaré" inteiramente no MuseScore, incluindo todas as repetições para testar problema com expansão de repetições no Music21.
Inserir os arquivos para teste em genos/choros/testes/partituras, na pasta do drobpox.

[2012-08-31 11:33] msampaio opened #11 "Testar expansão de repetições do Music21 com diferentes tipos de repetição"
Testar os arquivos xml criados nos issues [9](https://github.com/msampaio/choros-contour/issues/9) e [10](https://github.com/msampaio/choros-contour/issues/10) e verificar qual o tipo de repetição que resulta no erro

[code]

[2012-09-03 10:26] msampaio commented on #11
Testei os 5 arquivos xml com repetições. O Music21 conseguiu expandir as repetições em:
- 01 - abracando jacare - da capo al fine.xml
- 01 - abracando jacare - ritornellos.xml
- 01 - abracando jacare - ritornellos 1 e 2.xml

O Music21 retornou o erro de expansão de repetições em
- 01 - abracando jacare - ao segno.xml
- 01 - abracando jacare - coda.xml

O Music21 bagunça a partitura quando há apoja

[2012-09-03 10:26] #11 closed, assigned to msampaio

[2012-09-05 17:42] msampaio opened #12 "Elaborar testes de conversão de Finale para xml"
Editar um choro no Finale, sem dal segno e coda e salvar em xml.

[2012-09-05 17:45] msampaio opened #13 "Organizar diretório de testes de problema com repetição no Dropbox"
Criar um diretório com uma única música "Abraçando Jacaré" e renomear os testes para palavras chave do conteúdo dos testes. Acrescentar um arquivo txt explicando o que tem em cada arquivo de teste.

[2012-09-05 17:47] msampaio opened #14 "Pesquisar playback de segno e coda no MuseScore"
Verificar no manual, listas de discussão e/ou enviar pergunta aos desenvolvedores.

[2012-09-05 17:50] msampaio commented on #10
Não encontramos modo de inserir o segno e coda do musescore no playback. Aumentei o prazo em uma semana para  investigarmos documentação e listas de discussão.

[2012-09-05 17:51] msampaio commented on #7
O problema com repetições é a prioridade. Então aumentei o prazo desta tarefa em uma semana para compensar o foco no problema de repetições.

[2012-09-12 17:33] #12 closed, assigned to EduardoNunes

[2012-09-12 17:43] msampaio opened #15 "Edição de canções 1-30, coleção O melhor do choro vol. 2"
### Instruções gerais
- Verificar o prazo de entrega da tarefa (milestone)
- Verificar [guia de realização de tarefas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/)
- A [página da pesquisa](http://genosmus.com/pesquisa/contornos/choro/) contém outras informações adicionais
- Toda a discussão acerca desta tarefa deverá ser feita usando os comentários da tarefa. NÃO USAR EMAIL. O G

[2012-09-15 12:13] EduardoNunes commented on #14
Marcos,

Aqui o vídeo que eu havia falado que  ensina a
colocar coda no Musescore.

Abraço

Eduardo

Em 5 de setembro de 2012 14:47, Marcos da Silva Sampaio <
notifications@github.com> escreveu:

##

Eduardo Lago

[2012-09-15 12:42] msampaio commented on #14
Você não enviou o link. Sugiro que envie em outro email para mim. Talvez o
Github não aceite link na resposta.

Abraço,

Marcos

2012/9/15 Eduardo Lago Nunes notifications@github.com

##

Marcos da Silva Sampaio

Professor de Teoria, Composição e Computação Musical
Universidade Federal da Bahia / Escola de Música

http://marcosdisilva.net
http://genosmus.com

[2012-12-20 14:11] msampaio opened #16 "Documentar tarefa de segmentação das melodias"
Editar a página http://genosmus.com/pesquisa/contornos/choro/guia/ e inserir um pequeno guia explicando como fazer a segmentação das melodias de choros em frases e indicando formato do arquivo.

[2012-12-20 19:25] EduardoNunes commented on #16
Marcos,

As pausas também estarão numeradas?
Como assim indicando o formato do arquivo?

Abraço,

Em 20 de dezembro de 2012 12:11, Marcos da Silva Sampaio <
notifications@github.com> escreveu:

##

Eduardo Lago

[2012-12-21 10:29] msampaio commented on #16
As pausas estarão enumeradas.
O formato:
1 15
16 49
49 50

2012/12/20 Eduardo Lago Nunes notifications@github.com

##

Marcos da Silva Sampaio

Professor de Teoria, Composição e Computação Musical
Universidade Federal da Bahia / Escola de Música

http://marcosdisilva.net
http://genosmus.com

[2013-01-10 17:26] msampaio commented on #14
Decidimos escrever as repetições da forma por extenso.

[2013-01-10 17:26] #14 closed, assigned to msampaio

[2013-01-10 17:26] msampaio commented on #13
Decidimos escrever as repetições da forma por extenso. Há problemas de repetição em casos com ligaduras que são difíceis de resolver

[2013-01-10 17:26] #13 closed, assigned to EduardoNunes

[2013-01-10 17:27] msampaio commented on #10
Decidimos escrever as repetições da forma por extenso.

[2013-01-10 17:27] #10 closed, assigned to EduardoNunes

[2013-01-10 17:27] #16 closed, assigned to EduardoNunes

[2013-01-10 17:29] #7 closed, assigned to EduardoNunes

[2013-01-10 17:29] #15 closed, assigned to EduardoNunes

[2013-01-10 17:38] msampaio opened #17 "Criar arquivos com eventos enumerados do livro de Pixinguinha"
Criar arquivo pdf de cada choro do livro de Pixinguinha com enumeração de todos os eventos para que as frases possam ser marcadas.

[2013-01-10 17:40] msampaio opened #18 "Marcar as frases das composições 1-10 do livro de Pixinguinha"
### Instruções gerais
- Verificar o prazo de entrega da tarefa (milestone)
- Verificar [guia de realização de tarefas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/)
- A [página da pesquisa](http://genosmus.com/pesquisa/contornos/choro/) contém outras informações adicionais
- Toda a discussão acerca desta tarefa deverá ser feita usando os comentários da tarefa. NÃO USAR EMAIL. O G

[2013-01-11 10:58] msampaio opened #19 "Expandir as repetições dos choros 1-10 do livro O melhor do choro vol. 2"
### Instruções gerais
- Verificar o prazo de entrega da tarefa (milestone)
- Verificar [guia de realização de tarefas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/)
- A [página da pesquisa](http://genosmus.com/pesquisa/contornos/choro/) contém outras informações adicionais
- Toda a discussão acerca desta tarefa deverá ser feita usando os comentários da tarefa. NÃO USAR EMAIL. O G

[2013-01-11 20:36] msampaio opened #20 "Verificar arquivo de enumeração do choro 01 do livro de Pixinguinha"
### Instruções gerais
- Verificar o prazo de entrega da tarefa (milestone)
- Verificar [guia de realização de tarefas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/)
- A [página da pesquisa](http://genosmus.com/pesquisa/contornos/choro/) contém outras informações adicionais
- Toda a discussão acerca desta tarefa deverá ser feita usando os comentários da tarefa. NÃO USAR EMAIL. O G

[2013-01-11 21:16] msampaio commented on #8
Testei o enumerador com a versão de repetições expandidas de todo o livro O melhor do choro e não houve qualquer problema com o script de enumeração de eventos.

[2013-01-11 21:16] #8 closed, assigned to msampaio

[2013-01-11 21:17] msampaio commented on #17
Arquivos criados e inseridos no Dropbox como arquivos pdf na pasta de expansões.

[2013-01-11 21:17] #17 closed, assigned to msampaio

[2013-01-12 18:41] AlissonGSilva commented on #19
Em 11 de janeiro de 2013 08:58, Marcos da Silva Sampaio <
notifications@github.com> escreveu:

Abraço.
Alisson

[2013-01-12 18:58] msampaio commented on #19
Siga com o livro 2. Vou alterar a tarefa.

## Sent from my mobile

Marcos da Silva Sampaio

Professor de Teoria, Composição e Computação Musical
Universidade Federal da Bahia

http://marcosdisilva.net
http://genosmus.com
Em 12/01/2013 15:41, "AlissonGSilva" notifications@github.com escreveu:

[2013-01-17 12:43] msampaio commented on #19
Alisson,

Você concluiu esta tarefa? Se concluiu avise para eu fechá-la.

Abraço,

Marcos.

[2013-01-17 12:44] msampaio commented on #20
Eduardo,

Por favor informe aqui os problemas que você encontrou na enumeração do choro 01 do livro de Pixinguinha.

Abraço,

Marcos

[2013-01-18 01:15] AlissonGSilva commented on #19
Sim Marcos.

Abraço,
Alisson

2013/1/17 Marcos da Silva Sampaio notifications@github.com

[2013-01-18 02:22] #19 closed, assigned to AlissonGSilva

[2013-01-18 20:18] msampaio opened #21 "Verificar problemas de versões com arquivos da coleção Pixinguinha no Dropbox"
### Instruções gerais
- Verificar o prazo de entrega da tarefa (milestone)
- Verificar [guia de realização de tarefas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/)
- A [página da pesquisa](http://genosmus.com/pesquisa/contornos/choro/) contém outras informações adicionais
- Toda a discussão acerca desta tarefa deverá ser feita usando os comentários da tarefa. NÃO USAR EMAIL. O G

[2013-01-18 20:53] msampaio commented on #19
Ótimo. Você pode dizer quais foram as composições que você expandiu e em que diretório colocou as expansões?

Abraço,
Marcos

[2013-01-18 20:56] msampaio opened #22 "Expandir as repetições dos choros 11-20 do livro O melhor do choro vol. 2"
### Instruções gerais
- Verificar o prazo de entrega da tarefa (milestone)
- Verificar [guia de realização de tarefas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/)
- A [página da pesquisa](http://genosmus.com/pesquisa/contornos/choro/) contém outras informações adicionais
- Toda a discussão acerca desta tarefa deverá ser feita usando os comentários da tarefa. NÃO USAR EMAIL. O G

[2013-01-18 22:21] msampaio opened #23 "Editar os choros 51-60 do livro O melhor do choro vol. 2"
### Instruções gerais
- Verificar o prazo de entrega da tarefa (milestone)
- Verificar [guia de realização de tarefas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/)
- A [página da pesquisa](http://genosmus.com/pesquisa/contornos/choro/) contém outras informações adicionais
- Toda a discussão acerca desta tarefa deverá ser feita usando os comentários da tarefa. NÃO USAR EMAIL. O G

[2013-01-18 23:17] kedsonj commented on #23
professor tem alguma instrução de como fazer ? é só desfazer os ritornelos e escrever por extenso msmo??

[2013-01-18 23:54] msampaio commented on #23
nao ha instrucao especial. apenas anote as duvidas se as tiver

[2013-01-19 16:36] AlissonGSilva commented on #19
Eu fiz uma pasta no Dropbox, dentro da pasta " choros-corpus", tem uma
pasta de nome "O melhor do choro brasileiro vol 2 expandido",ta faltando 6
choros que não postei por que vou corrigir umas informações que peguei na
ultima reunião com vocês sobre os ritornellos.
Já transformei também em XML.

Abraço,
Alisson

Em 18 de janeiro de 2013 18:54, Marcos da Silva Sampaio <
notifications@github.com> e

[2013-01-19 18:07] msampaio opened #24 "Editar as repetições dos choros 41-50 do livro O melhor do choro vol. 2"
### Instruções gerais
- Verificar o prazo de entrega da tarefa (milestone)
- Verificar [guia de realização de tarefas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/)
- A [página da pesquisa](http://genosmus.com/pesquisa/contornos/choro/) contém outras informações adicionais
- Toda a discussão acerca desta tarefa deverá ser feita usando os comentários da tarefa. NÃO USAR EMAIL. O G

[2013-01-19 21:34] msampaio commented on #18
Eduardo,

Eu preciso que você adiante a marcação das frases de pelo menos uma dessas composições o mais rápido possível. Dependo disso para criar o mockup de análise de contornos.

Abraço,

Marcos.

[2013-01-20 14:44] msampaio opened #25 "Criar parser para frases dos choros"
### Instruções gerais
- Verificar o prazo de entrega da tarefa (milestone)
- Verificar [guia de realização de tarefas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/)
- A [página da pesquisa](http://genosmus.com/pesquisa/contornos/choro/) contém outras informações adicionais
- Toda a discussão acerca desta tarefa deverá ser feita usando os comentários da tarefa. NÃO USAR EMAIL. O G

[2013-01-20 14:47] msampaio commented on #25
Concluído no commit [Adapts Phrase method and functions to choros](https://github.com/msampaio/choros-contour/commit/b2a270d443dd2b2860bbd70d21febd2a7d5227df). Este código parser pode ser melhorado se puder usar o [music21.converter.freeze](http://mit.edu/music21/doc/html/moduleConverter.html) para guardar os objetos do music21.

[2013-01-20 14:47] #25 closed, assigned to msampaio

[2013-01-22 03:45] kakauss commented on #24
Ok, Professor.

Mas estou totalmente newb aqui. :P
Ainda não consegui achar o arquivo com o livro e tal... tá tudo no dropbox?

[2013-01-22 21:23] msampaio commented on #24
Oi, Karen.

É verdade, eu esqueci de explicar onde estão os arquivos. Você deverá
copiar cada partitura a ser trabalhada do diretório

Dropbox/genos-choros/choros-corpus/O melhor do choro brasileiro 2

para

Dropbox/genos-choros/choros-corpus/O melhor do choro brasileiro vol 2
expandido

Lembre-se de copiar a partitura antes de fazer a expansão, para não alterar
o arquivo original.
Em caso de dúvi

[2013-01-23 21:59] kedsonj commented on #23
professor, a pasta ''o melhor do choro brasileiro vol. 2'' só tem 30 musicas...

[2013-01-23 22:01] msampaio commented on #23
Kedson, você então pode editar essas 10 composições ao invés de expandi-las?

2013/1/23 Kedson Silva notifications@github.com

##

Marcos da Silva Sampaio

Professor de Teoria, Composição e Computação Musical
Universidade Federal da Bahia / Escola de Música

http://marcosdisilva.net
http://genosmus.com

[2013-01-28 14:46] kakauss commented on #24
Olá, Professor.
Desculpa a imensa demora em responder, mas tentei fazer o que você pediu, Kedson escreveu que não tava editado (tive a mesma dúvida que ele, inclusive), esperei ele falar mais alguma coisa (algo que não aconteceu) e agora estou MUITO perdida, por isso não falei nada sobre o estado das tarefas... desculpa.

Todos os choros do livro (o melhor do choro brasileiro vol 2) estão editados

[2013-01-28 14:58] msampaio commented on #24
Oi, Karen.

A coleção "O melhor do choro brasileiro 2" tem 60 peças, mas só temos 30
editadas. Eu quero que você edite as peças de número 41 a 50 (Queixas a
Sonoroso). Após editar expanda estas dez peças colocando a versão expandida
no diretório "O melhor do choro brasileiro vol 2 expandido".
Em caso de dúvida é só perguntar ;-)

Abraço,

Marcos.

[2013-01-28 15:16] kakauss commented on #24
Ok, Professor,

mas as peças que estás a pedir não estão no diretório do dropbox com o nome do livro. Acho que foi essa a dúvida de Kedson: lá só tem os choros 1 ao 30, ou seja, as peças nº 41 a 50 não existem na pasta "o melhor do choro brasileiro vol 2".

O que faço, então?

[2013-01-28 15:17] kakauss commented on #24
Já entendi, Professor.

Os choros pedidos estão em pdf na pasta "partituras".

:)

[2013-01-30 17:51] #22 closed, assigned to AlissonGSilva

[2013-01-31 16:46] msampaio opened #26 "Expandir as repetições dos choros 21-30 do livro O melhor do choro vol. 2"
### Instruções gerais
- Verificar o prazo de entrega da tarefa (milestone)
- Verificar [guia de realização de tarefas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/)
- A [página da pesquisa](http://genosmus.com/pesquisa/contornos/choro/) contém outras informações adicionais
- Toda a discussão acerca desta tarefa deverá ser feita usando os comentários da tarefa. NÃO USAR EMAIL. O G

[2013-01-31 16:47] msampaio opened #27 "Expandir as repetições dos choros 51-60 do livro O melhor do choro vol. 2"
### Instruções gerais
- Verificar o prazo de entrega da tarefa (milestone)
- Verificar [guia de realização de tarefas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/)
- A [página da pesquisa](http://genosmus.com/pesquisa/contornos/choro/) contém outras informações adicionais
- Toda a discussão acerca desta tarefa deverá ser feita usando os comentários da tarefa. NÃO USAR EMAIL. O G

[2013-02-01 20:47] msampaio commented on #20
O ritmo da apojatura é identificada como nota real no arquivo gerado pelo Lilypond com a enumeração de eventos. No entanto o arquivo xml está ok.

Arquivo Lilypond com eventos enumerados:
![Screen Shot 2013-02-01 at 17 45 20](https://f.cloud.github.com/assets/1006488/119685/88226d46-6cb0-11e2-8b3b-76416ab8415f.png)

Arquivo .mus
![Screen Shot 2013-02-01 at 17 45 40](https://f.cloud.github.com/asse

[2013-02-01 21:03] #20 closed, assigned to msampaio

[2013-02-16 11:36] msampaio commented on #21
Eduardo,
Preciso que você revise estes arquivos o quanto antes. Esta é uma tarefa rápida que prefiro que você faça, pois foi você quem editou estes choros.

Marcos.

[2013-02-16 16:32] EduardoNunes commented on #21
Marcos,

Está tudo OK com as 3 peças, a única avaria é que a Pixinguinha 15 estava sem a anacruze, mas já coloquei e recriei outro XML.

Está havendo algum problema?

Tudo Ok com: choros-corpus/choros-corpus/Pixinguinha/15 - concerto de baterias.mus
                      choros-corpus/choros-corpus/Pixinguinha/21 devagar e sempre.mus
                      choros-corpus/choros-corpus/Pixinguinha/24

[2013-02-16 22:02] msampaio commented on #21
Eduardo,

Por favor copie então estes 3 arquivos de choros-corpus/choros-corpus/Pixinguinha para genos-choros/choros-corpus/Pixinguinha. Vou remover o primeiro diretório para usarmos apenas o segundo.

Abraço,

Marcos.

[2013-02-17 22:26] EduardoNunes commented on #21
Feito.

[2013-02-18 11:55] #21 closed, assigned to EduardoNunes

[2013-02-18 11:59] msampaio commented on #18
Eduardo,

Eu coloquei os arquivos das frases dos choros 1 a 8 que você segmentou no diretório onde deve ficar "genos-choros/choros-corpus/Pixinguinha Extenso". Observe a extensão de arquivo que usei.
Preciso que você faça a segmentação das frases dos choros 9 e 10 para fechar essa tarefa.

Abraço,

Marcos

[2013-02-18 12:04] EduardoNunes commented on #18
Marcos,

Eu vi aqui, mas vou refazer tudo me baseando pelo seu arquivo. Notei que os
meus estão todos errados. Pretendo terminar todos até quarta.

Abraço

Em 18 de fevereiro de 2013 08:59, Marcos da Silva Sampaio <
notifications@github.com> escreveu:

##

Eduardo Lago

[2013-02-18 12:15] msampaio commented on #18
Ok então. Lembre-se de manter a extensão .phrase e o nome do arquivo idêntico ao da partitura.

Abraço,

Marcos

[2013-02-20 11:07] AlissonGSilva commented on #27
Estão expandidas do 01 até o 32, do 41 até o 43, e do 54 até o 60. Estão faltando as algumas transcrições da galera da transcrição na pasta.E faltando o choro numero 20 - "Expressinho livro" vol .2 .

[2013-02-20 17:53] msampaio opened #28 "Editar choros restantes de O Melhor do choro 2"

[2013-02-20 17:54] msampaio opened #29 "Marcar as frases das composições 11-20 do livro de Pixinguinha"

[2013-02-24 19:26] msampaio opened #30 "Verificar algoritmo de redução de Schultz no MusiContour"
O algoritmo não está disponível no pacote do Music21. Verificar se está corretamente implementado no MusiContour. Caso esteja, migrar. Usar versão corrigida na tese.

[2013-02-25 11:03] msampaio commented on #24
Karen,

Como está o andamento desta tarefa? Caso tenha concluído, por favor leve em um pendrive amanhã para a aula.

Marcos.

[2013-02-25 17:06] AlissonGSilva commented on #28
Karen e Kedson,quais outros choros do "O melhor do choro brasileiro Vol.2 " vocês editaram e não postaram ainda no Dropbox?? Preciso dessa informação pra terminar o restante das edições e expansões pra finalizar o livro.

[2013-02-27 17:54] #18 closed, assigned to EduardoNunes

[2013-02-27 17:54] #23 closed, assigned to nobody

[2013-02-27 17:54] #29 closed, assigned to EduardoNunes

[2013-02-27 17:54] #26 closed, assigned to AlissonGSilva

[2013-02-27 17:55] msampaio opened #31 "Segmentar as frases das composições 21-30 do livro de Pixinguinha"

[2013-03-01 11:53] msampaio opened #32 "Segmentar as frases das composições 1-10 do livro O Melhor do choro vol. 2"
### Instruções gerais
- Verificar o prazo de entrega da tarefa (milestone)
- Verificar [guia de realização de tarefas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/)
- A [página da pesquisa](http://genosmus.com/pesquisa/contornos/choro/) contém outras informações adicionais
- Toda a discussão acerca desta tarefa deverá ser feita usando os comentários da tarefa. NÃO USAR EMAIL. O G

[2013-03-01 12:03] msampaio commented on #28
Kedson,

Ainda não tenho os choros que Karen já editou. O choro 20 está faltando e está fora da lista de Karen. Pode começar com ele.

[2013-03-01 12:11] kedsonj commented on #28
Prof,
Ja fiz do 31 ao 38, que estavam faltando, preciso saber se karen vai fazer
pra eu n fazer sem necessidade, ontem ela postou uns 2 que ela fez.. Vou
fazer até o 40 e o 20 e esperar okay? Se preferir que eu ja faça todos que
faltam só falar!!
Abraço

[2013-03-01 12:14] kedsonj commented on #28
Prof,
Olhando bem, o 20 está la já, só falta os choros 39,40 e 47,48,49.
Vlw

[2013-03-01 12:22] msampaio commented on #28
Kedson,

Faça os choros 39 e 40 e aguarde até o fim do dia para Karen dizer se fez os choros 47, 48 e 49.

[2013-03-01 17:28] kedsonj commented on #28
Okay

[2013-03-01 21:27] msampaio commented on #30
O algoritmo já está disponível no [MusiContour](https://github.com/msampaio/MusiContour/commit/f5d61e8618a62a97a7cffebd4608c8fcc4457ad1), mas ainda não inseri no Music21, pois precisamos publicar a correção do algoritmo em algum paper primeiro.

[2013-03-02 14:37] msampaio opened #33 "Automatizar parseamento de todos os choros com frases segmentadas"
Criar um make que deverá localizar todos os choros com arquivos .phrase, parsea-los e retornar os objetos frase

[2013-03-02 14:37] msampaio opened #34 "Automatizar tabela com reduções de contornos de frases para doc"
Criar um make para retornar uma página de documentação em html com uma tabela com os contornos em versão reduzida de todas as frases dos contornos já segmentados

[2013-03-05 03:34] kakauss commented on #28
Marcos,

Tinha postado os choros em outra pasta sem querer, por isso você não achou.
Já os removi da pasta indevida e estão todos na pasta correta.

[2013-03-05 09:34] msampaio commented on #28
Ótimo, Karen!
Kedson, faltam apenas os choros 39 e 40

[2013-03-05 09:37] kedsonj commented on #28
Ja vi ,
Termino hj esses dois...
To c um problema no choro 39, n sei por quialtera de 6 rsrsrsrs
Abraço

[2013-03-05 09:40] msampaio commented on #28
Ótimo. Caso o problema seja de edição, registre em um documento de dúvidas que tem na pasta.

[2013-03-05 09:57] msampaio commented on #33
Criei todo o código para automatizar o parseamento. O próximo passo é resolver como lidar com o problema entre pickle e music21.

[2013-03-05 09:57] #33 closed, assigned to msampaio

[2013-03-05 13:54] SimeiFerreira commented on #32
Prof. Marcos,

Estou com algumas dúvidas em relação à tarefa, mas como nas instruções dizem para postá-las no GitHub eu não mandei por email. Lembro-me que você me mostrou um arquivo de texto contendo a segmentação das frases de um chôro, entretanto, eu estou em dúvida quanto às repetições expandidas, elas devem ser segmentadas uma vez considerando as repetições ou a segmentação segue a expansão?

[2013-03-05 14:34] msampaio commented on #32
Oi, Simei. O conteúdo do arquivo 19 - despresado.phrase é esse abaixo. A figura mais abaixo contém um trecho do arquivo com os eventos enumerados. Você pode conferir as frases.
Sempre que tiver dúvidas sobre uma tarefa comente-as no [Github](https://github.com/msampaio/choros-contour/issues/32).
Eu esqueci de colocar o milestone para amanhã. Se conseguir adiantar uma parte, será ótimo.

[code]

![

[2013-03-07 09:55] msampaio opened #35 "Conferir se as pastas de cada coleção contém apenas músicas daquela coleção"
### Instruções gerais
- Verificar o prazo de entrega da tarefa (milestone)
- Verificar [guia de realização de tarefas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/)
- A [página da pesquisa](http://genosmus.com/pesquisa/contornos/choro/) contém outras informações adicionais
- Toda a discussão acerca desta tarefa deverá ser feita usando os comentários da tarefa. NÃO USAR EMAIL. O G

[2013-03-07 10:00] msampaio opened #36 "Expandir resto dos choros do Melhor do Choro 2"
### Instruções gerais
- Verificar o prazo de entrega da tarefa (milestone)
- Verificar [guia de realização de tarefas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/)
- A [página da pesquisa](http://genosmus.com/pesquisa/contornos/choro/) contém outras informações adicionais
- Toda a discussão acerca desta tarefa deverá ser feita usando os comentários da tarefa. NÃO USAR EMAIL. O G

[2013-03-07 10:01] msampaio opened #37 "Expandir as repetições dos choros 01-10 do livro O melhor do choro vol. 3"
### Instruções gerais
- Verificar o prazo de entrega da tarefa (milestone)
- Verificar [guia de realização de tarefas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/)
- A [página da pesquisa](http://genosmus.com/pesquisa/contornos/choro/) contém outras informações adicionais
- Toda a discussão acerca desta tarefa deverá ser feita usando os comentários da tarefa. NÃO USAR EMAIL. O G

[2013-03-07 10:03] msampaio opened #38 "Verificar problema de edição com choro 53, O melhor do choro vol. 2"
Verificar qual o problema com o choro 53 e informar aqui.

[2013-03-07 10:05] msampaio opened #39 "Segmentar as frases das composições 11-20 do livro O Melhor do choro vol. 2"
### Instruções gerais
- Verificar o prazo de entrega da tarefa (milestone)
- Verificar [guia de realização de tarefas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/)
- A [página da pesquisa](http://genosmus.com/pesquisa/contornos/choro/) contém outras informações adicionais
- Toda a discussão acerca desta tarefa deverá ser feita usando os comentários da tarefa. NÃO USAR EMAIL. O G

[2013-03-07 10:06] msampaio opened #40 "Documentar tarefa de segmentação no guia da pesquisa"
Ver issue https://github.com/msampaio/choros-contour/issues/32

[2013-03-07 10:07] #31 closed, assigned to EduardoNunes

[2013-03-07 10:07] msampaio opened #41 "Segmentar as frases das composições 31-40 do livro de Pixinguinha"
### Instruções gerais
- Verificar o prazo de entrega da tarefa (milestone)
- Verificar [guia de realização de tarefas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/)
- A [página da pesquisa](http://genosmus.com/pesquisa/contornos/choro/) contém outras informações adicionais
- Toda a discussão acerca desta tarefa deverá ser feita usando os comentários da tarefa. NÃO USAR EMAIL. O G

[2013-03-07 10:11] msampaio opened #42 "Listar choros disponíveis na coleção Choros 2 de Chediak no Google Books"
### Instruções gerais
- Verificar o prazo de entrega da tarefa (milestone)
- Verificar [guia de realização de tarefas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/)
- A [página da pesquisa](http://genosmus.com/pesquisa/contornos/choro/) contém outras informações adicionais
- Toda a discussão acerca desta tarefa deverá ser feita usando os comentários da tarefa. NÃO USAR EMAIL. O G

[2013-03-07 10:13] msampaio opened #43 "Editar 10 choros da coleção Choros 2 de Chediak"
### Instruções gerais
- Verificar o prazo de entrega da tarefa (milestone)
- Verificar [guia de realização de tarefas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/)
- A [página da pesquisa](http://genosmus.com/pesquisa/contornos/choro/) contém outras informações adicionais
- Toda a discussão acerca desta tarefa deverá ser feita usando os comentários da tarefa. NÃO USAR EMAIL. O G

[2013-03-07 10:16] msampaio opened #44 "Fazer screencast com instruções de como criar apojaturas de múltiplas notas"
Fazer um screencast simples e curto e colocar no YouTube. Coloque o link aqui e tente inserir o vídeo diretamente no meu canal ou ao menos compartilhar.

[2013-03-07 10:18] msampaio commented on #27
Faltam os choros 51, 52 e 53 para fechar essa tarefa.

[2013-03-07 10:18] #24 closed, assigned to nobody

[2013-03-07 10:20] msampaio commented on #28
Faltam os choros 39 e 40 para fechar essa tarefa. Como falei, se houver problema de edição, coloque na lista de dúvidas.

[2013-03-07 10:22] msampaio commented on #32
Faltam os choros 9 e 10 para concluir esta tarefa.

[2013-03-10 15:48] AlissonGSilva commented on #28
Kedson, o choro numero 20 é o "Expressinho" do  vol .2, no qual  está faltando.
Tem um erro de numeração na pasta, quando Dudu estava editando, ele enumerou dois numeros 5.

[2013-03-11 19:54] msampaio commented on #28
Alisson,
É preciso ver se este número 5 é uma composição de outra coleção posta aí por engano. Kedson deverá verificar para concluir a tarefa [35](https://github.com/msampaio/choros-contour/issues/35).

[2013-03-12 12:27] AlissonGSilva commented on #28
Marcos,
Não é engano não, estou acompanhando pelo livro.
Pra terminar o livro vol.2 faltam ; o choro numero 20 - "Expressinho" ,os choros 33 e 34 "Naquele tempo " e "Noturno" (Karen acho que você pulou esses dois choros), e o 53 o arquivo está com problemas; Kedson olhe na pasta, ele está sem formato, não consigo abrir.

Confiram o livro, na pasta choros vol.2 expandido tem as peças com a numeraçã

[2013-03-12 14:11] msampaio commented on #28
Ótimo, Alisson.
Kedson: por favor siga as orientações de Alisson

[2013-03-13 12:00] msampaio commented on #40
Disponível em http://genosmus.com/pesquisa/contornos/choro/guia/#Segmentação_das_canções_em_frases

[2013-03-13 12:00] #40 closed, assigned to msampaio

[2013-03-13 15:05] kedsonj commented on #38
Não há problemas!! Qual foi o problema informado?

[2013-03-13 15:41] kedsonj commented on #28
A coleção o melhor do choro vol.2 está finalizada

[2013-03-13 17:48] #32 closed, assigned to SimeiFerreira

[2013-03-13 17:50] msampaio commented on #38
Alisson e Kedson,
Comuniquem-se por aqui para verificar qual o problema.

[2013-03-13 17:51] #35 closed, assigned to nobody

[2013-03-14 15:45] #41 closed, assigned to EduardoNunes

[2013-03-14 15:47] msampaio commented on #37
Kedson, por favor salve uma cópia de cada arquivo em formato xml dentro da pasta.

[2013-03-14 15:58] msampaio opened #45 "Mapear todos os 549 choros trabalhados"
Listar os títulos e compositores de todos os choros presentes nas coleçoes que estao sendo trabalhadas. Salvar dados em uma planilha.
As coleçoes trabalhadas estao disponíveis no projeto. Ver pasta e Dropbox.

[2013-03-14 16:08] msampaio opened #46 "Expandir as repetições dos choros 1-10 do livro O melhor do choro vol. 1"
### Instruções gerais
- Verificar o prazo de entrega da tarefa (milestone)
- Verificar [guia de realização de tarefas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/)
- A [página da pesquisa](http://genosmus.com/pesquisa/contornos/choro/) contém outras informações adicionais
- Toda a discussão acerca desta tarefa deverá ser feita usando os comentários da tarefa. NÃO USAR EMAIL. O G

[2013-03-14 16:27] msampaio opened #47 "Segmentar as frases das composições 41-50 do livro de Pixinguinha"
### Instruções gerais
- Verificar o prazo de entrega da tarefa (milestone)
- Verificar [guia de realização de tarefas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/)
- A [página da pesquisa](http://genosmus.com/pesquisa/contornos/choro/) contém outras informações adicionais
- Toda a discussão acerca desta tarefa deverá ser feita usando os comentários da tarefa. NÃO USAR EMAIL. O G

[2013-03-14 16:36] msampaio opened #48 "Segmentar as frases das composições 21-30 do livro O Melhor do choro vol. 2"
### Instruções gerais
- Verificar o prazo de entrega da tarefa (milestone)
- Verificar [guia de realização de tarefas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/)
- A [página da pesquisa](http://genosmus.com/pesquisa/contornos/choro/) contém outras informações adicionais
- Toda a discussão acerca desta tarefa deverá ser feita usando os comentários da tarefa. NÃO USAR EMAIL. O G

[2013-03-14 16:37] msampaio opened #49 "Expandir as repetições dos choros 1-10 do livro O melhor do choro vol. 3"
### Instruções gerais
- Verificar o prazo de entrega da tarefa (milestone)
- Verificar [guia de realização de tarefas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/)
- A [página da pesquisa](http://genosmus.com/pesquisa/contornos/choro/) contém outras informações adicionais
- Toda a discussão acerca desta tarefa deverá ser feita usando os comentários da tarefa. NÃO USAR EMAIL. O G

[2013-03-15 00:06] SimeiFerreira commented on #48
Prof. Marcos,

Ainda estou impossibilitado de segmentar as frases dos choros 12-30 porque os arquivos em PDF que contém os eventos enumerados contemplam somente os 10 primeiros choros da coleção "O melhor do choro brasileiro vol. 2". Eu mesmo enumerei os eventos do choro 11 e fiz a segmentação, mas levou o triplo do tempo e como estou com 19 choros acumulados, preciso fazer da forma mais rápida, m

[2013-03-15 09:40] msampaio opened #50 "Criar arquivos .xml para choros expandidos 51 a 59 da coleção Pixinguinha"
A pasta de choros expandidos de Pixinguinha não tem arquivos xml para os choros 51 a 59. A tarefa é salvar como.

[2013-03-15 09:52] msampaio commented on #48
Simei, acabei de gerar os arquivos pdf com eventos enumerados para toda a coleção.

[2013-03-16 13:42] SimeiFerreira commented on #48
Obrigado Marcos,

[2013-03-17 18:29] AlissonGSilva commented on #28
Finalizada as expansões do Vol.2 do melhor do choro. Só falta exportar as peças 20, 33, 34 e 53 pra XML; estou usando outro PC que ta tendo problemas com algo relacionado ao Java (não sei o por quê) , por conta disso o programa não ta conseguindo exportar.

[2013-03-17 22:48] msampaio commented on #28
Kedson, você pode salvar estes arquivos 20, 33, 34 e 53 como xml?

[2013-03-18 01:17] SimeiFerreira commented on #45
Prof. Marcos,

Terminei o mapeamento dos choros presentes em todas as coleções presentes no Dropbox, entretanto, a soma deles resultou em 347 choros, ao invés dos 549. Gostaria de saber em qual pasta do Dropbox devo colocar a planilha com o mapeamento dos choros.

Cordialmente,

Simei Ferreira.

---

 De: Marcos da Silva Sampaio notifications@github.com
Para: msampaio/choros-contour choros-contour

[2013-03-18 01:23] msampaio commented on #45
Bom trabalho, Simei. Estou curioso para ver o resultado. Coloque o arquivo em genos-choros/choros-corpus

[2013-03-19 02:39] SimeiFerreira commented on #45
Obrigado Professor,

Já coloquei a planilha com o mapeamento dos choros na pasta genos-choros/choros-corpus. Se porventura eu tiver me equivocado em alguma coisa é só me avisar para que eu possa corrigir.

[2013-03-20 08:33] SimeiFerreira commented on #48
Ficaram faltando os PDF's com os eventos enumerados dos choros 19 "Esquecimento" e 20 "Expressinho". Faltou ainda o XML do choro 20 "Expressinho". Está tudo registrado no notepad da pasta "O melhor do choro brasileiro vol. 2 expandido"

[2013-03-20 09:34] msampaio commented on #48
Oi, Simei. Por favor reporte este problema na [tarefa 39](https://github.com/msampaio/choros-contour/issues/39), referente aos choros 11 a 20. Estou fechando esta tarefa referente ao 21-30. Bom trabalho

[2013-03-20 09:37] #48 closed, assigned to SimeiFerreira

[2013-03-20 09:39] msampaio commented on #28
Kedson, por favor salve também o arquivo 19 como xml, além do 20, 33, 34 e 53. Não estou conseguindo parseá-lo.

[2013-03-20 09:48] msampaio commented on #45
Bom trabalho, Simei. Infelizmente eu não fui preciso quando defini a tarefa e gostaria que você a adaptasse. Veja a imagem para ter ideia de como quero a planilha. Da forma que fiz podemos classificar os dados por coleção, composição ou compositor. Observe que criei uma pasta new para você inserir os novos dados e criei uma pasta old, com os dados que você já fez.
Como o prazo desta tarefa é hoje

[2013-03-20 09:57] msampaio commented on #46
Alisson, lembre-se de salvar o arquivo xml no momento que fizer a expansão. Eu só posso trabalhar com ele.

[2013-03-20 09:59] msampaio commented on #49
Kedson, lembre-se de adicionar os arquivos xml no momento que fizer a expansão. Eu só posso trabalhar com eles.

[2013-03-20 10:01] msampaio commented on #28
Kedson, esqueça meu pedido de salvar os arquivos como xml. Estes arquivos não são necessários na edição.

[2013-03-20 10:02] msampaio commented on #36
Alisson, por favor salve o xml desses arquivos e do arquivo 19. Lembre-se de salvar o xml sempre que expandir uma música. O meu programa só lê xml.

[2013-03-20 10:03] #28 closed, assigned to nobody

[2013-03-20 10:04] #27 closed, assigned to AlissonGSilva

[2013-03-20 10:07] msampaio commented on #34
Esta tarefa está sendo realizada no módulo [mockup](https://github.com/msampaio/choros-contour/blob/master/mockup.py). O commit [8ae5715584ead1ed7440e8c29fd6ec78b7e49696](https://github.com/msampaio/choros-contour/commit/8ae5715584ead1ed7440e8c29fd6ec78b7e49696) contém o código para imprimir percentual de contornos reduzidos.

[2013-03-20 10:10] msampaio commented on #30
Este algoritmo pode ser portado em um branch exclusivo, no entanto demanda tempo para reestudar o código e portar todas as funções, classes e métodos necessários.

[2013-03-20 10:30] AlissonGSilva commented on #46
Eu sei Marcos, não exportei para XML por que estou com problemas de ordem técnica no PC que estou usando, mas vou voltar a usar o PC que eu estava usando antes, no qual tudo estar a funcionar bem.

[2013-03-20 10:32] AlissonGSilva commented on #36
O XML do 19 está lá na pasta, dos expandidos.

[2013-03-20 10:40] msampaio commented on #36
Alisson, eu estava com problemas com o xml do choro 19. Eu descobri que posso exportar os xml com o Finale Notepad. Já exportei os choros que faltavam: 20, 33, 34 e 53. Estou fechando esta tarefa.

[2013-03-20 10:40] #36 closed, assigned to AlissonGSilva

[2013-03-20 10:48] AlissonGSilva commented on #36
Só uma coisa Marcos achei um erro na partitura do choro 27 "Machuca". Concertei ele agora.
Estranhei Simei dizer que a música parece incompleta, mas na verdade a música acaba no compasso 42 e não no 67.
Vou apagar o XML dela. Algum problema que deu na hora da expansão quando fiz, olhei agora e resolvi. Acho que a segmentação é a mesma, não vai mudar.

[2013-03-20 10:49] msampaio opened #51 "Verificar problema com xml no Melhor do choro 2 expandido - 19, 20 e 53"
Estes arquivos quebram no processamento com o [song_enumerate](https://github.com/msampaio/choros-contour/blob/master/song_enumerate.py). Verificar internamente no music21. Caso seja trabalhoso encontrar a solução, solicitar reedição.
Em seguida, gerar pdf com eventos enumerados.

[code]

[2013-03-20 10:57] msampaio commented on #36
Eu exportei o xml e gerei o arquivo com eventos enumerados. Há algum bug nos outros choros. Veja meu [report](https://github.com/msampaio/choros-contour/issues/51)

[2013-03-20 11:47] kedsonj commented on #49
Professor , n fiz ainda pq essa semana n tive tempo de realizar as tarefas..

Em quarta-feira, 20 de março de 2013, Marcos da Silva Sampaio escreveu:

##

*Kedson Silva *

[2013-03-20 18:00] #38 closed, assigned to nobody

[2013-03-20 18:04] #47 closed, assigned to EduardoNunes

[2013-03-20 18:04] #50 closed, assigned to EduardoNunes

[2013-03-22 15:05] msampaio opened #52 "Expandir as repetições dos choros 11-20 do livro O melhor do choro vol. 3"
### Instruções gerais
- Verificar o prazo de entrega da tarefa (milestone)
- Verificar [guia de realização de tarefas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/)
- A [página da pesquisa](http://genosmus.com/pesquisa/contornos/choro/) contém outras informações adicionais
- Toda a discussão acerca desta tarefa deverá ser feita usando os comentários da tarefa. NÃO USAR EMAIL. O G

[2013-03-22 15:06] msampaio opened #53 "Expandir as repetições dos choros 11-20 do livro O melhor do choro vol. 1"
### Instruções gerais
- Verificar o prazo de entrega da tarefa (milestone)
- Verificar [guia de realização de tarefas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/)
- A [página da pesquisa](http://genosmus.com/pesquisa/contornos/choro/) contém outras informações adicionais
- Toda a discussão acerca desta tarefa deverá ser feita usando os comentários da tarefa. NÃO USAR EMAIL. O G

[2013-03-22 15:08] msampaio opened #54 "Revisar segmentações dos choros 1-30 da coleção O Melhor do choro vol. 2"
Verificar se há períodos identificados como frases

[2013-03-22 15:09] msampaio opened #55 "Revisar segmentações dos choros 1-20 da coleção de Pixinguinha"
Verificar se há períodos segmentados como frases.

[2013-03-22 15:18] msampaio commented on #39
Esta tarefa depende da solução do problema da tarefa #51 e está adiada até sua solução

[2013-03-22 15:20] msampaio commented on #37
A tarefa #49 é uma duplicidade desta. Fechando tarefa.

[2013-03-22 15:20] #37 closed, assigned to nobody

[2013-03-22 22:11] msampaio opened #56 "Criar marcador de frases para arquivos xml"
Criar marcador de frases para colorir primeira e última notas das frases segmentadas para poderem ser vistas por colaboradores externos (Pedro e Flávio)

[2013-03-22 22:13] msampaio commented on #56
Resolvido no commit [6c12c079359f2709e98626c75e38cef29004f18b](https://github.com/msampaio/choros-contour/commit/6c12c079359f2709e98626c75e38cef29004f18b).

[2013-03-22 22:13] #56 closed, assigned to msampaio

[2013-03-23 00:43] msampaio commented on #51
@AlissonGSilva, eu não consegui resolver o problema com estas músicas expandidas. Você pode reescrevê-las?
Eu encontrei [onde ocorre o problema](https://github.com/msampaio/choros-contour/blob/master/song_enumerate.py#L30), mas não entendi a razão nem como corrigir. Acho mais fácil reeditar as músicas.

[2013-03-23 15:32] AlissonGSilva commented on #51
Sim,vou reescrevê-las Marcos.

[2013-03-23 18:41] msampaio commented on #51
Valeu, @AlissonGSilva . Depois que fizer me avise aqui.

[2013-03-23 21:20] #49 closed, assigned to nobody

[2013-03-24 01:18] AlissonGSilva commented on #51
Pronto Marcos! Refiz o 19, 20 e 53 do Melhor do choro 2 expandido. Olhe ae se ta dando problema.

[2013-03-24 01:26] msampaio commented on #51
@AlissonGSilva , o 20 e 53 estão ok agora, mas o 19 ainda dá erro. O erro está registrado abaixo. Observe nas últimas duas linhas que há algum problema com duração de notas. Você partiu do zero ou copiou da versão sem expansão?

[code]

[2013-03-24 01:44] AlissonGSilva commented on #51
Copiei da versão sem expansão.
E essas quialteras Marcos?
Vou refazer o arquivo de edição então agora aqui.

[2013-03-24 01:48] msampaio commented on #51
O problema deve estar na versão sem expansão. Você pode editar a versão expandida do zero?

[2013-03-24 01:49] AlissonGSilva commented on #51
Sim, já comecei a fazer do zero.

[2013-03-24 10:15] msampaio commented on #44
@EduardoNunes , nestes sites há listas de softwares para fazer screencast no Windows. Experimente algum deles para fechar essa tarefa.
http://www.hongkiat.com/blog/win-screen-recording-softwares/
http://lifehacker.com/5839047/five-best-screencasting-or-screen-recording-tools

[2013-03-24 12:29] #46 closed, assigned to AlissonGSilva

[2013-03-24 20:01] AlissonGSilva commented on #51
Pronto Marcos, choro 19 refeito do zero, reeditado,reexpandido e com o XML.

[2013-03-24 20:16] msampaio commented on #51
@AlissonGSilva , infelizmente ele ainda não está funcionando. Observei dois problemas:
1) Há uma ligadura extra no compasso 2 e nas repetições deste compasso

![Screen Shot 2013-03-24 at 17 13 15](https://f.cloud.github.com/assets/1006488/295883/8db5241a-94bf-11e2-8636-ca48c9ddc714.png)

2) Há uma nota faltando em um compasso e sua repetição (não tenho o número exato do compasso, mas veja o origin

[2013-03-24 20:27] AlissonGSilva commented on #51
Corrigi,acho que agora vai Marcos, olhei todos os compassos.
Olhe ae se vai agora.

[2013-03-24 22:46] msampaio commented on #51
@AlissonGSilva , o programa ainda quebra com este choro. Vamos deixar esta tarefa temporariamente em aberto. Já identifiquei que o problema ocorre em [lily.loadObjectFromScore(score)](https://github.com/msampaio/choros-contour/blob/master/song_enumerate.py#L30).

[2013-03-25 01:24] #53 closed, assigned to AlissonGSilva

[2013-04-03 20:18] msampaio opened #57 "Expandir as repetições dos choros 21-30 do livro O melhor do choro vol. 1"
### Instruções gerais
- Verificar o prazo de entrega da tarefa (milestone)
- Verificar [guia de realização de tarefas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/)
- A [página da pesquisa](http://genosmus.com/pesquisa/contornos/choro/) contém outras informações adicionais
- Toda a discussão acerca desta tarefa deverá ser feita usando os comentários da tarefa. NÃO USAR EMAIL. O G

[2013-04-03 20:19] msampaio opened #58 "Expandir as repetições dos choros 31-60 do livro O melhor do choro vol. 1"
### Instruções gerais
- Verificar o prazo de entrega da tarefa (milestone)
- Verificar [guia de realização de tarefas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/)
- A [página da pesquisa](http://genosmus.com/pesquisa/contornos/choro/) contém outras informações adicionais
- Toda a discussão acerca desta tarefa deverá ser feita usando os comentários da tarefa. NÃO USAR EMAIL. O G

[2013-04-03 20:22] msampaio opened #59 "Criar cadastro na Plataforma Lattes"
Criar cadastro mínimo na [Plataforma Lattes](http://lattes.cnpq.br/), com informações pessoais e graduação em andamento. Confirmar acesso ao [SIUS](http://sius.ufba.br/).

[2013-04-03 20:27] msampaio opened #60 "Verificar problemas com arquivo 27, da coleção O melhor do choro vol. 2"
O programa de análise de contornos está quebrando ao processar o arquivo 27 - machuca. O problema pode estar no arquivo '.phrase' ou '.xml'. Verificar se há algum erro aparente nestes arquivos e informar comentando a tarefa no github.

O erro segue abaixo para registro.

[code]

[2013-04-04 08:47] msampaio commented on #60
@SimeiFerreira , este erro "list index out of range" significa que o número de eventos na música é menor do que os indicados nas frases. Conferi e percebi que a música tem 213 eventos e as frases vão até o evento 348. A tarefa para corrigir o problema é refazer a segmentação.

[2013-04-04 17:22] SimeiFerreira commented on #60
Certo Marcos,
Estou colocando as tarefas em dia, minha intenção é estar com tudo pronto já nesse fim de semana.

[2013-04-05 06:46] SimeiFerreira commented on #60
Marcos,
Refiz a segmentação do Choro "Machuca", de fato eu devo ter me confundido no momento em que fiz a primeira segmentação da referida obra, peço desculpas pela minha falha.
Veja se agora funciona no programa.

[2013-04-05 11:53] msampaio commented on #60
Funcionando.

[2013-04-05 11:53] #60 closed, assigned to SimeiFerreira

[2013-04-05 11:59] msampaio commented on #34
Toda a estrutura para geração automática da página de documentação está pronta. Basta rodar um `make` para gerar os arquivos pickle e a [página](http://umazero.genosmus.com/). O próximo passo é refatorar o módulo [mockup](https://github.com/msampaio/choros-contour/blob/master/mockup.py) e implementar a redução de contornos no módulo [webpage](https://github.com/msampaio/choros-contour/blob/master/

[2013-04-07 01:06] SimeiFerreira commented on #45
Marcos,

Baixei os songbooks que estão sendo estudados na pesquisa para facilitar meu trabalho de mapeamento dos choros e também para meu acervo pessoal. O trabalho está demorando mais do que eu esperava porque encontrei uma discrepância entre os índices dos songbooks e a ordem de paginação das partituras cifradas das obras, percebi que os colegas seguiram a ordem de paginação das partituras para

[2013-04-07 08:07] SimeiFerreira commented on #45
Marcos,

Refiz todo o mapeamento dos choros de acordo com o modelo que você solicitou. Segui a ordem de numeração que os colegas utilizaram nas edições e inclui os nomes dos letristas no campo "compositor" dos choros que contém letra. Já inclui a planilha na pasta "choros corpus" e aguardo seu feedback.

[2013-04-07 09:00] msampaio commented on #45
Simei, você fez uma boa escolha ao seguir a numeração já usada pelos colegas. Sobre os letristas, recomendo que os coloque em outro campo. Observe que já alterei alguns campos no arquivo, conforme figura abaixo.
![Screen Shot 2013-04-07 at 05 58 58](https://f.cloud.github.com/assets/1006488/348563/7c06cc80-9f61-11e2-9fb8-c581bd02c3ea.png)

[2013-04-07 15:38] #34 closed, assigned to msampaio

[2013-04-07 15:40] #57 closed, assigned to AlissonGSilva

[2013-04-08 07:10] SimeiFerreira commented on #59
Marcos,

Meu acesso ao SIUS está normal, até aproveitei para incluir alguns dados que não estavam preenchidos. Quando ao cadastro na Plataforma Lattes, não consegui concluir porque ao final do cadastro o site sempre pedia informações sobre formação concluida, upload da foto do RG ou Passaporte. Coloquei as informações do segundo grau, mas o site persistiu solicitando upload de foto obrigatória do

[2013-04-08 07:15] SimeiFerreira commented on #45
Marcos,

Já finalizei as alterações na planilha que você começou, fica faltando apenas o segundo volume do songbook do Almir Chediak para concluir o mapeamento.

[2013-04-08 08:16] msampaio commented on #45
@SimeiFerreira , use o livro de Chediak que aparece no [Google Books](http://books.google.com.br/books?id=Lumb-LvuR8QC&printsec=frontcover&dq=songbook+choro+2&hl=en&sa=X&ei=G3U2Uer3DofA0AHr7YCICg&ved=0CC4Q6AEwAA#v=onepage&q=songbook%20choro%202&f=false) para pegar o resto das músicas. Dá para ver o índice. Veja as fotos:

![Screen Shot 2013-04-08 at 04 53 17](https://f.cloud.github.com/assets/1006

[2013-04-08 08:19] msampaio commented on #59
@SimeiFerreira , se a Plataforma Lattes pede a imagem do seu RG, você deve enviar.

[2013-04-09 04:34] SimeiFerreira commented on #59
Tudo bem então, vou escanear e enviar.

[2013-04-11 01:08] #45 closed, assigned to SimeiFerreira

[2013-04-11 15:22] msampaio commented on #39
@SimeiFerreira , segmentei o choro 19. Foi mais fácil enumerar manualmente do que consertar o problema. Fechando tarefa.

[2013-04-11 15:22] #39 closed, assigned to SimeiFerreira

[2013-04-11 15:23] msampaio commented on #51
Enumerei o choro 19 manualmente e fiz a segmentação, fechando a tarefa #39.

[2013-04-11 15:23] #51 closed, assigned to msampaio

[2013-04-11 15:24] msampaio commented on #59
@SimeiFerreira , avise aqui quando o seu cadastro Lattes tiver sido ativado pelo CNPQ.

[2013-04-11 21:27] SimeiFerreira commented on #59
Certo.

---

 De: Marcos da Silva Sampaio notifications@github.com
Para: msampaio/choros-contour choros-contour@noreply.github.com
Cc: SimeiFerreira soulluz@yahoo.com.br
Enviadas: Quinta-feira, 11 de Abril de 2013 12:24
Assunto: Re: [choros-contour] Criar cadastro na Plataforma Lattes (#59)

@SimeiFerreira , avise aqui quando o seu cadastro Lattes tiver sido ativado pelo CNPQ.
—
Reply to this emai

[2013-04-11 22:11] SimeiFerreira commented on #59
Marcos,

Meu cadastro Lattes já está publicado. Segue link para acesso logo abaixo:

http://lattes.cnpq.br/4348635947958623

Abraços,

Simei Ferreira.

---

 De: Marcos da Silva Sampaio notifications@github.com
Para: msampaio/choros-contour choros-contour@noreply.github.com
Cc: SimeiFerreira soulluz@yahoo.com.br
Enviadas: Quinta-feira, 11 de Abril de 2013 12:24
Assunto: Re: [choros-contour] Criar

[2013-04-11 23:42] msampaio commented on #59
Ótimo! Fechando tarefa...

[2013-04-11 23:42] #59 closed, assigned to SimeiFerreira

[2013-04-13 07:40] msampaio opened #61 "Definir sintaxe para a codificação da forma das músicas"
A atual codificação de frases não permite diferenciação entre frases e links. As frases estão sendo codificadas incorporando os links. Esta prática cria erros, como na frase 1 do choro 19 - Esquecimento, da coleção "O Melhor do Choro vol. 2". Neste caso a última nota é a mais aguda da frase. O link para a segunda frase elimina essa característica (vide imagem).

![image](https://f.cloud.github.com

[2013-04-13 08:24] msampaio commented on #61
Sugestão preliminar de codificação:

[code]

As partes e períodos são indicados apenas no início, com um sinal diferenciador. As frases são precedidas por p, e os links por l.

[2013-04-13 08:33] msampaio opened #62 "Reestruturar programa com nova divisão formal das músicas"
A verificação dos problemas de segmentação imprecisa indicados na tarefa #61 demandam uma nova organização do programa. Até o momento as classes Song e Phrase são suficientes para guardar as informações sobre a música e sobre cada "frase". No entanto, a partir de agora é necessário incorporar os diferentes níveis hierárquicos Parte, Período e Frase/Link. Além disso, é preciso avaliar como lidar co

[2013-04-13 11:16] msampaio commented on #61
A sugestão preliminar é eficiente, pois contempla todos os elementos da música, é fácil de parsear e de codificar. Segue abaixo um exemplo completo da codificação da música 19 - Esquecimento, da coleção "O Melhor do Choro vol 2":

[code]

[2013-04-13 11:16] #61 closed, assigned to msampaio

[2013-04-15 10:26] #54 closed, assigned to SimeiFerreira

[2013-04-15 10:27] msampaio opened #63 "Segmentar as frases das composições 31-40 do livro O Melhor do choro vol. 2"
### Instruções gerais
- Verificar o prazo de entrega da tarefa (milestone)
- Verificar [guia de realização de tarefas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/)
- A [página da pesquisa](http://genosmus.com/pesquisa/contornos/choro/) contém outras informações adicionais
- Toda a discussão acerca desta tarefa deverá ser feita usando os comentários da tarefa. NÃO USAR EMAIL. O G

[2013-04-18 14:18] #62 closed, assigned to msampaio

[2013-04-18 18:26] msampaio opened #64 "Verificar expansão de 27 - Flor Amorosa (O melhor do choro brasileiro vol 1)"
Verificar na partitura original se a expansão dessa música foi feita corretamente. Há uma frase entre os eventos 358 e 382 e outra iniciando em 387. Confirmar as notas dos eventos 383 a 386. (Vide imagem)

![Screen Shot 2013-04-18 at 15 22 25](https://f.cloud.github.com/assets/1006488/398279/45857fba-a855-11e2-9c6f-0be8bede62d3.png)

[2013-04-22 06:16] SimeiFerreira commented on #63
Marcos,

Infelizmente tive um problema com o choro "31 - Meu prelúdio" que me tomou muito tempo de análise, depois de muito quebrar cabeça procurei por execuções do mesmo no youtube e constatei que tinha algo errado na partitura. Depois de olhar a partitura original no songbook tive a certeza de que um pequeno erro na edição do mesmo tinha sido o responsável por isso. Eis a partitura original do s

[2013-04-22 09:57] msampaio commented on #63
@SimeiFerreira ,
Entendi qual o problema na partitura. Observe que esses dois compassos iniciais na voz inferior constituem apenas um acompanhamento para a entrada da voz principal. Nas nossas edições só nos importa a melodia principal. Então pode remover todas as notas das vozes inferiores. No segundo compasso mantenha a nota sol, que é a anacruze da melodia. Observe que na coda este acompanhamen

[2013-04-22 10:20] msampaio commented on #63
@SimeiFerreira,
Com o choro 36, podemos observar que nossa sintaxe de codificação de forma é incompleta, pois é estranho chamar introdução e coda de partes. No entanto prefiro não alterar essa sintaxe por enquanto. Nos casos em que houver introdução e/ou coda, informe no arquivo txt da coleção. Nesse choro 36, você chamou as frases de introdução e coda de links. Os links são aqueles fragmentos mel

[2013-04-22 10:26] msampaio commented on #63
@SimeiFerreira,
O que se aplica ao choro 36 se aplica também ao choro 34. Pode proceder da mesma forma.

[2013-04-22 16:19] SimeiFerreira commented on #63
Marcos,

Não seria mais simples incluir a nota sol no segundo compasso considerando que esse acompanhameno retorna na coda?

---

 De: Marcos da Silva Sampaio notifications@github.com
Para: msampaio/choros-contour choros-contour@noreply.github.com
Cc: SimeiFerreira soulluz@yahoo.com.br
Enviadas: Segunda-feira, 22 de Abril de 2013 6:57
Assunto: Re: [choros-contour] Segmentar as frases das composiçõ

[2013-04-22 16:22] SimeiFerreira commented on #63
É isso, nos choros 34 e 36 eu fiquei em dúvida de como fazer, mas vou seguir sua orientação.

[2013-04-22 23:56] msampaio commented on #63
@SimeiFerreira, eu acho que no você propôs o mesmo que eu para o acompanhamento do choro 31: remover o acompanhamento. No início da pesquisa @EduardoNunes e eu decidimos codificar unicamente a melodia principal das músicas. Por exemplo, há várias músicas a duas vozes, algumas delas com estrutura de perguntas e respostas. Em todos esses casos codificamos apenas a melodia principal.

[2013-04-23 07:06] SimeiFerreira commented on #63
Tarefa finalizada, aproveitei para adiantar as segmentações até o choro 45 "Saudade de Queluz". Quanto ao choro 31, infelizmente ainda não sei como adicionar a anacruze com a partitura já pronta, então o fiz colocando as pausas antes da colcheia em sol.

Você poderia me dar uma luz?

Cordialmente,

Simei Ferreira.

[2013-04-23 08:27] msampaio commented on #63
@SimeiFerreira, eu alterei o choro 31 para ficar como precisamos. Por favor altere também a versão da pasta original/O melhor do choro 2 para ficar semelhante. Veja abaixo o screenshot de como ficou o compasso inicial.

![Screen Shot 2013-04-23 at 05 22 32](https://f.cloud.github.com/assets/1006488/413365/8525c268-abef-11e2-860c-7fb4f85a6b52.png)

Bom trabalho. Vou abrir um novo issue para as segm

[2013-04-23 17:46] SimeiFerreira commented on #63
Marcos,

Já realizei a alteração solicitada no arquivo .mus do choro 31 na pasta original/o melhor do choro 2. Preciso que você gere novos arquivos xml enumerados dos choros 31, 41 e 44 para que eu possa corrigir os erros no seus respectivos arquivos .form. Os pequenos erros de expansão dos choros 41 "Queixas" e 44 "Saudades" já foram corrigidos e registrados no arquivo .txt da pasta expandidos/o

[2013-04-23 19:15] msampaio commented on #63
Feito

[2013-04-24 17:08] SimeiFerreira commented on #63
Vlw.

[2013-04-25 13:58] msampaio commented on #58
@AlissonGSilva, algum problema com essa tarefa? Passei ela há 22 dias e ainda não foi concluída.
Abraço,
Marcos.

[2013-04-26 01:05] AlissonGSilva commented on #58
Desculpe Marcos, tava com problemas no serial number do finale , por isso
não estava passando para XML e nem salvando.
Mas já vou postar no Dropbox os que já fiz e terminar o resto do livro.

[2013-04-26 01:58] msampaio commented on #58
Recomendo que você instale o Finale Notepad para não precisar parar o trabalho. Ele é gratuito e tem tudo que precisamos para a nossa pesquisa. Você pode usá-lo se tiver problemas com o outro.

[2013-04-26 21:58] msampaio opened #65 "Corrigir arquivos xml das músicas 41 e 44 de O melhor do choro brasileiro vol 2"
O choro 41 (e possivelmente o 44) está com problemas. Seu arquivo .form tem mais eventos do que o seu arquivo .xml. Eu observei que você editou o arquivo 'numbered' e ele ficou maior. Se fez a edição para corrigi-lo, peço que faça apenas em 41 - queixas.xml, e não em 41 - queixas numbered.xml. Este segundo arquivo é descartável.

![Screen Shot 2013-04-26 at 18 55 36](https://f.cloud.github.com/ass

[2013-04-26 22:05] #63 closed, assigned to SimeiFerreira

[2013-04-27 01:16] SimeiFerreira commented on #65
Marcos,

Eu editei os xml enumerados manualmente porque os erros de expansão ainda estavam presentes nos mesmos. Não sabia que os mesmos eram descartáveis. Corrigirei os xml não enumerados, mas sem a numeração fica mais complicado e demorado comparar o número de eventos do arquivo .form com o arquivo .xml.

[2013-04-27 02:08] SimeiFerreira commented on #65
Arquivos xml dos choros 41, 44 e 50 corrigidos. Gerei novos xml a partir dos arquivos mus cuja expansão eu havia corrigido anteriormente e substitui os que estavam na pasta pelos novos. Veja se o problema persiste.

[2013-04-27 03:18] msampaio commented on #65
@SimeiFerreira, a ideia é sempre facilitar. Sempre que precisar fazer uma correção no xml faça no 'arquivo.xml', não no 'arquivo numbered.xml'. Após a correção é só me falar que eu gero um novo 'numbered'.
Vou verificar se o problema persiste e te aviso.

[2013-04-27 03:38] SimeiFerreira commented on #65
Foi mal Marcos, fico no aguardo.

[2013-04-27 10:32] msampaio commented on #65
@SimeiFerreira, ainda está quebrando aqui. Faça o seguinte.
1. Corrija a expansão pelo arquivo 41 - queixa.xml
2. Avise quando a correção estiver pronta
3. Aguarde eu gerar o arquivo enumerado
4. A partir do arquivo enumerado (feito com a partir da sua correção), refaça o arquivo de segmentação 41 - queixa.form
5. Avise quando o arquivo de segmentação estiver pronto

[2013-04-27 10:33] msampaio opened #66 "Segmentar as frases das composições 41-60 do livro O Melhor do choro vol. 2"
### Instruções gerais
- Verificar o prazo de entrega da tarefa (milestone)
- Verificar [guia de realização de tarefas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/)
- A [página da pesquisa](http://genosmus.com/pesquisa/contornos/choro/) contém outras informações adicionais
- Toda a discussão acerca desta tarefa deverá ser feita usando os comentários da tarefa. NÃO USAR EMAIL. O G

[2013-04-27 15:08] SimeiFerreira commented on #65
Marcos,

O arquivo "41 - queixas.xml" que está no dropbox é justamente o que eu gerei a partir da correção do arquivo MUS do choro 41 - Queixas. O arquivo xml do referido choro que continha o erro foi substituido no momento em que passei o novo xml já corrigido.

Você prefere passar para o passo 3 da tarefa ou gerar no seu software um novo arquivo xml não enumerado a partir do arquivo .mus que eu

[2013-04-27 15:36] msampaio commented on #65
Simei.

Estou fora da cidade e sem computador. Na segunda feira vemos isso.

[2013-04-27 16:24] SimeiFerreira commented on #65
Tranquilo Marcos, vou adiantando as segmentações até lá.

[2013-04-30 00:11] msampaio commented on #65
@SimeiFerreira, eu gerei um arquivo enumerado com base no seu '41 - queixas.xml'. Este arquivo tem 484 eventos. Você pode conferir se ele está certo e atualizar o arquivo de segmentação de forma? Se houver mais algum problema me avise.

[2013-04-30 03:22] SimeiFerreira commented on #65
Pronto Marcos, agora tá tudo certinho. Já corrigi o arquivo .form e o coloquei no dropbox.

[2013-04-30 03:59] SimeiFerreira commented on #65
A propósito, você poderia gerar novos arquivos xml enumerados dos choros 44 e 50? Assim como no 41 eu corrigi os erros de expansão nos respectivos arquivos mus e gerei novos arquivos xml não enumerados já corrigidos. É bom que você vê também se algum deles está quebrando aí pra você.

[2013-04-30 07:28] SimeiFerreira commented on #66
Marcos,
Finalizei as segmentações dos choros 31-60 no novo formato, fica faltando apenas editar as segmentações 01-30 que ainda estão no antigo formato. No máximo até o sábado eu finalizo o livro "O melhor do choro vol. 2".

[2013-04-30 11:37] msampaio commented on #65
Bom trabalho. Já gerei os xml enumerados dos choros 44 e 50. Estão no Dropbox.

[2013-04-30 11:38] msampaio commented on #66
Excelente!!!! Criarei uma tarefa específica para a conversão das segmentações de .phrase para .form.

[2013-04-30 11:38] #66 closed, assigned to SimeiFerreira

[2013-04-30 11:43] msampaio opened #67 "Converter arquivos de segmentação .phrase para .form. Coleção O Melhor do choro vol. 2, choros 1-30"
Seguir o guia para o [novo formato de segmentação](http://genosmus.com/pesquisa/contornos/choro/guia/#Segmentação_formal_das_canções).

[2013-04-30 11:46] msampaio commented on #42
A tarefa caducou, pois os songbooks de Chediak já estão disponíveis na íntegra na pasta do Dropbox.

[2013-04-30 11:46] #42 closed, assigned to nobody

[2013-04-30 13:15] AlissonGSilva commented on #64
Marcos esse choro ele tem um ritornello confuso, escrevi no arquivo de texto "Anotações,dúvidas e problemas" na pasta das expansões do Vol.1 . No original ele indica um rittornelo depois do evento 285, mas não diz de onde devo retornar.

[2013-04-30 13:28] AlissonGSilva commented on #64
"Flor amorosa" Ritornello confuso no quarto sistema. Ritornello confuso no ultimo sistema da partitura original.

[2013-04-30 13:31] msampaio commented on #64
@AlissonGSilva, pela audição eu percebi que há dois possíveis erros:
1. O ritornello não existe
2. O ritornello último compasso do ritornello seria uma casa 2 para a volta para o início da música. O fragmento indicado por 2, abaixo, é a anacruse do tema principal. No entanto não há uma casa 1. Esta casa 1 deveria voltar para o local indicado pelo número 1, abaixo.
![screen shot 2013-04-30 at 10 27

[2013-04-30 13:43] AlissonGSilva commented on #64
Ok!

[2013-04-30 14:21] msampaio opened #68 "Corrigir parseamento da segmentação formal"
Os períodos e partes são enumerados independentemente. Nos casos em que há partes constituídas de uma única frase, esta frase é incluída no período da parte anterior.
Por exemplo, no exemplo abaixo, o período 1 é parseado com as frases 1 a 3 porque a parte seguinte não contém um período.

[code]

É necessário rever as funções `song.makeStructuresList` e `segment.parseForm`

[2013-04-30 14:47] msampaio opened #69 "Implementar processamento de intervalos"
Implementar processamento de intervalos nos choros da mesma forma que está programada no [Uirapuru](http://uirapuru.genosmus.com/) (vide [repo](https://github.com/kroger/uirapuru/blob/master/uirapuru/intervals.py)).

[2013-05-01 12:18] #69 closed, assigned to msampaio

[2013-05-02 14:48] AlissonGSilva commented on #64
Refeita a expansão do choro 27 - Flor Amorosa.
Não estou conseguindo exportar nenhum arquivo em XML,avisa que é um
problema no meu JAVA, já instalei e reinstalei e nada resolve. Acho que só
formatando a maquina, to usando o PC pessoal de casa pra trabalhar que ta
dando uns problemas, por estar sobrecarregado (ele precisa de uma
formatação).

[2013-05-02 17:57] msampaio commented on #64
Bom trabalho, @AlissonGSilva. Estou fechando esse ticket. Já atualizei o arquivo `27 - flor amorosa - numbered.xml`. Quanto ao xml, se não está conseguindo agora, deixe para depois. Adiante as expansões.
Abraço,
Marcos

[2013-05-02 17:57] #64 closed, assigned to AlissonGSilva

[2013-05-03 05:18] SimeiFerreira commented on #65
Marcos, você gerou os xml enumerados dos choros 44 e 50 a partir dos arquivos xml corrigidos que eu gerei? Pergunto porque nos arquivos xml enumerdos persistem os erros que eu havia corrigido no arquivo mus e que continuam corrigidos nos arquivos xml não enumerados.

[2013-05-03 06:12] AlissonGSilva commented on #58
Marcos terminei a expansão do livro todo  O melhor do choro vol.1.
Falta só exportar para XMLs, estou com problemas no Finale pra fazer isso.

[2013-05-03 09:33] msampaio commented on #65
@SimeiFerreira, eu já tinha gerado. Por via das dúvidas gerei um novo xml a partir do seu mus e criei um numbered.xml a partir desse novo xml. Veja se está certo.

[2013-05-03 09:38] msampaio commented on #58
Bom trabalho, @AlissonGSilva! Depois você conclui a tarefa. Temos os xml das músicas 1 a 30. Vou passar outra tarefa para você não ficar ocioso.

[2013-05-03 09:43] msampaio opened #70 "Segmentar a forma das composições 1-10 do livro O Melhor do choro vol. 1"
### Instruções gerais
- Verificar o prazo de entrega da tarefa (milestone)
- Verificar [guia de realização de tarefas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/). Há uma seção específica sobre o formato do arquivo de segmentação.
- A [página da pesquisa](http://genosmus.com/pesquisa/contornos/choro/) contém outras informações adicionais
- Toda a discussão acerca desta tarefa d

[2013-05-04 16:35] SimeiFerreira commented on #65
Agora está tudo ok Marcos.

[2013-05-04 16:35] AlissonGSilva commented on #70
Marcos você mandou algum email explicando como faz essa segmentação???
To meio perdido sobre como fazer, eu sei que vou delimitando as frases
separando pelo numero.

[2013-05-04 18:43] msampaio commented on #70
Veja o guia de tarefas da pesquisa.

[2013-05-04 18:47] msampaio commented on #65
Ótimo. Os arquivos .form dos choros 41 e 44 também estão corretos?

[2013-05-06 19:15] SimeiFerreira commented on #65
Desculpe pela demora em responder Marcos, o número de eventos agora está equivalente nos arquivos numbered xml e .form.

[2013-05-07 13:45] msampaio commented on #65
Ótimo. Fechando issue.

[2013-05-07 13:45] #65 closed, assigned to SimeiFerreira

[2013-05-10 02:55] AlissonGSilva commented on #70
Marcos eu acho que preciso dos PDFs com a numeração pra fazer a segmentação.
Eles não estão na pasta dos expandidos; ou eu acho que não to conseguindo
ver na pasta.

[2013-05-10 10:33] msampaio commented on #70
Perdão, @AlissonGSilva. Já inseri os arquivos enumerados no diretório. Observe que não são arquivos .pdf, mas `numbered.xml`.

[2013-05-20 20:01] msampaio opened #71 "Avaliar a eficácia do PDFtoMusic"
Itens para avaliar:
- Qualidade da cópia em XML
- Tempo de conversão
- Uso dos recursos do sistema

http://www.myriad-online.com/en/products/pdftomusic.htm

[2013-05-21 09:19] AlissonGSilva commented on #70
Marcos encontrei um pequeno erro na expansão do choro 09 - "bingo" do
melhor do choro volume 1 na pasta dos expandidos; eu já corrigi.
Tem como você fazer a numeração dele de novo pra segmentação?

[2013-05-21 09:36] msampaio commented on #70
@AlissonGSilva, eu preciso do arquivo em formato xml para fazer a enumeração.

[2013-05-21 10:28] msampaio opened #72 "Verificar problema com choro 10 de 'O melhor do choro vol 2'"
A frase 1 deste choro está quebrando ao ser processada por `webpage.make_special_cases_webpage`. Não há problemas no parseamento nem na geração do xml da frase.
### Atualização do problema

O erro ocorre no método `score.write`, e não em `webpage.make_special_cases_webpage`.

[2013-05-21 12:32] AlissonGSilva commented on #70
Pronto Marcos.
O xml está lá.

[2013-05-21 17:31] msampaio commented on #70
Já enumerei o arquivo.

[2013-05-25 23:39] msampaio opened #73 "Melhorar tabela com dados musicológicos das coleções"
### Instruções

A tabela está na pasta do Dropbox da pesquisa, em `genos-choros/choros-corpus/informacao-corpus-choros.xls`.
O trabalho consiste em usar uma forma única para o nome de cada compositor. Por exemplo, usar `Angelo Reale` ao invés de `A. Reale`, `A Reale` e outras possibilidades. O [Dicionário Cravo Albim](http://www.dicionariompb.com.br/) pode servir de referência para obter os nomes

[2013-05-26 15:59] ZeRodriguez commented on #73
Professor, só pra esclarecer:

Coluna A - Coleção
Coluna B - Número
Coluna C - Título
Coluna D - Compositor
Coluna E - Letra

Eu irei mexer apenas nas colunas D e E. É para fazer desde início, não é isso? Pois na reunião você havia dito que seria apenas o da coleção "Songbook Almir Chediak".
Outra dúvida é em relação aos autores. Se por um acaso eu não souber quem compôs e quem escreveu a letra?
C

[2013-05-26 16:14] ZeRodriguez commented on #73
Tô fazendo desde o início fessô.
Só outra dúvida. Alguns casos têm três nomes, por exemplo:

Ingênuo | Pixiguinha | Benedito Lacerda | Paulo César Pinheiro

Como faço? Há problema se Paulo vier antes de Benedito e vice-versa?
Perdoe-me as dúvidas idiotas. Tô aprendendo!!! Hehehe

[2013-05-26 17:03] ZeRodriguez commented on #73
Já está tudo feito fessô. Pode dá uma olhada lá antes de ler as minhas dúvidas.
Fico no aguardo. Bom resto de domingo e até terça! =D

[2013-05-26 17:22] msampaio commented on #73
Olá, @ZeRodriguez. Excelente trabalho! Eu preciso apenas que você coloque os nomes abreviados por extenso. Por exemplo, M d'Agostino. Você pode pesquisar por esses nomes no [Dicionário Cravo Albim](http://www.dicionariompb.com.br/). Pesquise pelo sobrenome ou títulos das músicas.

[2013-05-26 18:42] ZeRodriguez commented on #73
Beleza fessô!
Eu tive esse pensamento, justamente nesse autor, M. d'Agostino. Procurei na internet e não achei. Agora com esse dicionário facilita. Sobre outro autor, Francisco Soares, fiquei receoso sem saber se era o mesmo, mas o renomeei para Canhoto da Paraíba, que foi o que apareceu primeiro.

[2013-05-26 19:03] ZeRodriguez commented on #73
Milton d'Agostino, Carolina Cardoso de Menezes e João Silva foram os únicos fessô.
Aníbal Augusto Sardinha eu não sabia que era Garoto. Como aparecia uma única vez com o nome completo, renomeei para o apelido. Dá uma olhada lá. Qualquer coisa, tamos aí!

[2013-05-26 21:19] msampaio commented on #73
Ótimo trabalho! Estou fechando a tarefa, considerando concluída.

[2013-05-27 11:19] msampaio commented on #73
@ZeRodriguez, eu precisei reabrir essa tarefa. Observei que há nomes idênticos com diferença de acentuação (Cristóvão e Cristovão), e nomes parecidos que não sei se são pessoas diferentes (Canhoto, Canhotinho e Canhoto da Paraíba).
Preciso que você verifique esse nomes para saber se são realmente pessoas diferentes e corrija as duplicidades com acentuação.
Use a [tabela de compositores](http://uma

[2013-05-27 11:42] msampaio commented on #57
@AlissonGSilva, Vi que você praticamente concluiu esta tarefa. Houve algum problema com os choros 37 e 40? Eu não os encontrei.

[2013-05-27 12:35] AlissonGSilva commented on #57
Não Marcos, não tive problemas não, esqueci de postar o xml dos dois no
dropbox.
Mas já estão lá.

Em 27 de maio de 2013 08:42, Marcos da Silva Sampaio <
notifications@github.com> escreveu:

[2013-05-27 12:59] msampaio commented on #57
Ótimo trabalho. Estou atualizando o título da tarefa (de 21 a 30 para 21 a 60) e fechando.

[2013-05-27 13:02] msampaio commented on #57
@AlissonGSilva, Eu comentei a tarefa errada. Eu me referia à tarefa #58. Reverti o título de 21 a 60 para 21 a 30.

[2013-05-27 13:03] #58 closed, assigned to AlissonGSilva

[2013-05-27 13:26] #70 closed, assigned to AlissonGSilva

[2013-05-27 14:18] ZeRodriguez commented on #73
Professor, eu prestei atenção nessa questão da pontuação. Então passou desapercebido, corrigirei. Me perdoe.
Quando aos nomes, verifiquei sim. Canhoto é referente à Américo Jacomino quando Canhoto da Paraíba refere-se à Chico Soares. Vou retificar a questão das acentuações. Abraço

[2013-05-27 14:45] ZeRodriguez commented on #73
Professor, tarefa concluída. Além de Cristóvão, o erro ocorreu com Luíz Santos, o único dos "Luiz" que recebe acento. Já o Luiz Americano, em apenas um lugar eu encontrei o Luiz com "s" (Luis). Mesmo na tabela de compositores, de 13 vezes, apenas 1 aparece com "s", então mantive com "z". Tarefa concluída. Qualquer falha, é só informar. Abraço

[2013-05-27 15:45] #73 closed, assigned to ZeRodriguez

[2013-05-28 21:14] msampaio opened #74 "Editar os choros 75-97 do songbook de Almir chediak, vol. 3"
### Instruções gerais
- Verificar o prazo de entrega da tarefa (milestone)
- Verificar [guia de realização de tarefas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/#Edição_de_canções)
- A [página da pesquisa](http://genosmus.com/pesquisa/contornos/choro/) contém outras informações adicionais
- Toda a discussão acerca desta tarefa deverá ser feita usando os comentários da tarefa. N

[2013-05-28 21:16] msampaio opened #75 "Editar os choros 1-25 do songbook de Almir chediak, vol. 2"
### Instruções gerais
- Verificar o prazo de entrega da tarefa (milestone)
- Verificar [guia de realização de tarefas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/#Edição_de_canções)
- A [página da pesquisa](http://genosmus.com/pesquisa/contornos/choro/) contém outras informações adicionais
- Toda a discussão acerca desta tarefa deverá ser feita usando os comentários da tarefa. N

[2013-05-28 21:17] msampaio opened #76 "Editar os choros 1-50 do songbook de Almir chediak, vol. 3"
### Instruções gerais
- Verificar o prazo de entrega da tarefa (milestone)
- Verificar [guia de realização de tarefas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/#Edição_de_canções)
- A [página da pesquisa](http://genosmus.com/pesquisa/contornos/choro/) contém outras informações adicionais
- Toda a discussão acerca desta tarefa deverá ser feita usando os comentários da tarefa. N

[2013-05-28 21:20] msampaio opened #77 "Editar os choros 50-97 do songbook de Almir chediak, vol. 2"
### Instruções gerais
- Verificar o prazo de entrega da tarefa (milestone)
- Verificar [guia de realização de tarefas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/#Edição_de_canções)
- A [página da pesquisa](http://genosmus.com/pesquisa/contornos/choro/) contém outras informações adicionais
- Toda a discussão acerca desta tarefa deverá ser feita usando os comentários da tarefa. N

[2013-05-29 00:08] ZeRodriguez commented on #77
Professor, recebeu meu e-mail referente à minha ausência?
Mais uma vez me perdoe.
Quanto à atividade, é eu edito no finale observando do pdf, não é isso?
E depois posto na pasta, certo?
Abraço

[2013-05-29 00:36] afonsocelsojr commented on #75
Professor, comecei a edição. Porém estou tendo dificuldades de encontrar alguns símbolos de repetição que aparece no decorrer das melodias, agradeceria o help!

[2013-05-29 11:18] msampaio commented on #75
@afonsocelsojr, quais são os símbolos com os quais está tendo problema? Você pode fazer um screenshot e colar os símbolos aqui?

[2013-05-29 11:21] msampaio commented on #77
@ZeRodriguez, você está certo quanto à edição. Sobre a ausência, prefiro que não coloque no comentário da tarefa para não misturar as coisas.

[2013-05-29 14:34] EduardoNunes commented on #55
Marcos, o que eu faço com as pausas que estão separando duas frases?
Não marco ela? Escolho uma frase pra colocar ela?

[2013-05-29 14:41] msampaio commented on #55
Não marque as pausas entre segmentos.

[2013-05-29 14:56] EduardoNunes commented on #55
Marcos, eu já fiz a segmentação de Abraçando o Jacaré (numero 1) de Pixinguinha, é possível que você dê uma olhada pra conferir se eu realmente entendi essa separação entre periodo e parte?

[2013-05-29 15:17] msampaio commented on #55
Eduardo, o caminho é esse. Observe que há um espaço entre o # e a palavra. Você fez `#period` ao invés de `# period`. Eu não concordo com a sua segmentação no evento 516. Eu acho que a frase termina no evento 539, há um link e a nova inicia no evento 545. Veja a figura:
![screen shot 2013-05-29 at 12 13 19](https://f.cloud.github.com/assets/1006488/579484/e5dbb9ec-c872-11e2-9ba0-7257e4033234.png)

[2013-05-29 15:18] msampaio commented on #55
@EduardoNunes, mais uma coisa. Salve os arquivos como `.form` e não mais como `.phrase`.

[2013-05-29 15:21] msampaio opened #78 "Instalar software Umazero no usuário de Eduardo, no Genos"
Instalar o software Umazero no usuário de Eduardo, no Genos, para ele poder conferir o resultado das segmentações

[2013-05-29 15:37] EduardoNunes commented on #55
Consertei estes erros, tem certas frases que eu realmente tenho dificuldade de identificar onde termina, como esta do exemplo que você mandou.
Estou tentando melhorar isso.

[2013-05-29 15:54] EduardoNunes commented on #55
Marcos, a música número 4 de pixinguinha é bastante complicada de segmentar, e no final tem uma coda relativamente grande. Devo marcar ela como um novo periodo? Ou como final do periodo anterior?

[2013-05-29 16:00] msampaio commented on #55
Eduardo, sugiro que nas 15 primeiras músicas você não se preocupe tanto com
precisão. Com a prática você começará a acertar. Depois poderá voltar a
essas primeiras musicas para revisar.

## Sent from my mobile

Marcos da Silva Sampaio

Professor de Teoria, Composição e Computação Musical
Universidade Federal da Bahia

http://marcosdisilva.net
http://genosmus.com
Em 29/05/2013 12:55, "Eduardo Lago

[2013-05-29 16:03] EduardoNunes commented on #55
OK

[2013-05-29 19:17] ZeRodriguez commented on #77
Professor, desculpa a demora. Só consegui o Finale agora.
Quanto às melodias, na pasta choros-corpus/originais/songbookalmirchediakvol1 já contém as melodias.
Tem certeza que é para eu fazer da 75, Remexendo de Radamés Gnatalli à 93, Um Sarau Para Rafael de Paulinho da Viola? Abraço!

[2013-05-29 22:33] msampaio commented on #77
@ZeRodriguez, muito obrigado por essa informação. Faça o mesmo no volume 2. Vou alterar o título da tarefa.

[2013-05-29 22:36] msampaio commented on #74
@igorrosario, @ZeRodriguez acabou de me mostrar que as músicas da coleção de Almir Chediak vol. 1 já estão prontas e que esta atividade é retrabalho (vide tarefa #77). Vou alterá-la. Por favor faça os choros 75-97 do vol. 3.

[2013-05-30 01:07] ZeRodriguez commented on #77
Marcos, coloquei o primeiro choro na pasta, "Paraty Dançante" de Eduardo Souto.
Observando o Vol. 1 que já está completo, vi que os arquivos estão nomeados somente com o nome da música, todos com letra minúscula e sem a devida acentuação. Sendo assim, nomeei da mesma forma, ficando "paraty dancante". Gostaria que você desse uma olhada para ver como ficou o trabalho. Também observando algumas já pr

[2013-05-30 02:18] ZeRodriguez commented on #77
Professor, em relação à música número 76, "Paulista" de João dos Santos, tenho uma dúvida.
Dá uma olhada na original e como eu escrevi o compasso 43, onde há uma quiáltera. Não soube como resolver esse problema.

[2013-05-30 02:44] igorrosario commented on #74
Ok Professor! Eu ia fazer essa observação Também! Obrigado

[2013-05-31 11:24] msampaio commented on #77
@ZeRodriguez, por favor faça um screenshot do original e da sua versão e cole aqui. Veja como fizemos na tarefa #63. Assim você deixa o problema documentado e simplifica a comunicação.

[2013-05-31 20:03] ZeRodriguez commented on #77
Professor, essa é a original. Choro 76, Compasso 43:
![pdf original](https://f.cloud.github.com/assets/4490953/593048/1d1aafce-ca2d-11e2-9676-d93b434ee372.png)

E essa é a minha transcrição:
![verso finale](https://f.cloud.github.com/assets/4490953/593050/2b21b37e-ca2d-11e2-821c-175ece4ed0fb.png)

[2013-06-01 04:49] SimeiFerreira commented on #52
Marcos,

Qual a versão do Finale que a galera está usando para editar e expandir os choros?

[2013-06-01 08:06] ZeRodriguez commented on #77
Professor, a música número 90, "Tenebroso" de Ernesto Nazareth, começa com 17 compassos com apenas o  ritmo escrito, como mostra a figura abaixo. Nesse caso, como faço? Escrevo esse ritmo? Seria qual instrumento no finale? Ou já começo pela anacruse do compasso 18, onde entra a melodia?
![tenebroso](https://f.cloud.github.com/assets/4490953/594533/289c3c90-ca92-11e2-9214-80fcffe55ca9.png)

[2013-06-01 09:37] msampaio commented on #52
Pergunte na lista.

On Saturday, June 1, 2013, SimeiFerreira wrote:

##

Sent from my Mobile

[2013-06-01 10:38] msampaio commented on #77
@ZeRodriguez, a edição do choro 75 'Paraty Dançante' está boa. Pode seguir o trabalho dessa forma.

[2013-06-01 10:39] msampaio commented on #77
@ZeRodriguez, a sua versão da quiáltera no choro 76 é satisfatória. O nosso foco não é o resultado visual, e sim o resultado musical.

[2013-06-01 11:01] msampaio opened #79 "Salvar página com bula das coleções de Almir Chediak"
As partituras de Almir Chediak têm os símbolos abaixo, mas não têm indicações como DC ou DS. Provavelmente há algum tipo de bula explicando. O arquivo pdf usado na pesquisa não tem as páginas de bula.
A tarefa é procurar essas páginas e salvar na pasta do Dropbox onde está o pdf da pesquisa. O Google Books tem algumas páginas disponíveis dessas coleções de Choro de Chediak.

![screen shot 2013-06-

[2013-06-01 11:03] msampaio commented on #77
@ZeRodriguez, as vozes de baixo e soprano se revezam. Você pode mesclar as duas, eliminando a parte unicamente rítmica. Na parte C, onde há as duas simultaneamente, use apenas a voz do soprano.

[2013-06-01 12:15] msampaio commented on #75
@afonsocelsojr, os símbolos dos quais está falando são os que comentei na tarefa #79?

[2013-06-01 12:21] msampaio commented on #44
Não é mais necessário

[2013-06-01 12:21] #44 closed, assigned to EduardoNunes

[2013-06-01 12:21] msampaio commented on #3
Não é mais necessário

[2013-06-01 12:21] #3 closed, assigned to EduardoNunes

[2013-06-01 12:24] #67 closed, assigned to SimeiFerreira

[2013-06-01 13:11] msampaio opened #80 "Segmentar a forma das composições 11-60 do livro O Melhor do choro vol. 1"
### Instruções gerais
- Verificar o prazo de entrega da tarefa (milestone)
- Verificar [guia de realização de tarefas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/). Há uma seção específica sobre o formato do arquivo de segmentação.
- A [página da pesquisa](http://genosmus.com/pesquisa/contornos/choro/) contém outras informações adicionais
- Toda a discussão acerca desta tarefa d

[2013-06-01 13:19] msampaio commented on #80
@AlissonGSilva, Por favor corrija a segmentação do choro 21, Doce de côco. Você criou períodos com uma frase e um link. Veja os dois locais onde isso aparece em sua segmentação:

[code]

Lembre-se dos requisitos para que um conjunto de frases seja um período:
1. Duas ou mais frases
2. Cadência final mais forte que intermediárias
3. Semelhança de design entre frases

[2013-06-01 13:28] msampaio opened #81 "Programar separação de pickle files por tipo e coleção"
Atualmente o software gera dois arquivos pickle, um para o objeto `query.AllSegments` e outro para a lista de objetos `song.Songs`. Da maneira que o programa está escrito, é necessário recriar os arquivos pickle a cada atualização das coleções. Os arquivos pickle de coleções concluídas não devem mais ser alterados a não ser que alguma mudança estrutural seja feita nos objetos.
A ideia óbvia é cria

[2013-06-01 13:42] msampaio opened #82 "Programar função para checar arquivos de segmentação"
Os arquivos de segmentação (`.form`) enviados pelos colaboradores muitas vezes contêm erros de sintaxe ou de análise como períodos com uma frase única. A detecção destes demanda tempo e processamento, pois o programa não contém ferramentas para este fim durante a criação dos objetos `Song` e `AllSegments`.
Este problema demanda uma função para checagem de arquivos de segmentação antes da criação d

[2013-06-01 13:46] msampaio opened #83 "Reorganizar página de resultados"
A [página com os resultados](http://umazero.genosmus.com/) da pesquisa está organizada por tipo de dado estudado (basic data, contour, intervals) e por compositor. O número de compositores neste trabalho é muito grande para gerar gráficos individuais para todos eles.
A opção óbvia é criar gráficos apenas para os compositores com maior número de segmentos. As páginas com os dados podem conter compo

[2013-06-01 14:15] msampaio commented on #72
O erro que ocorre na verificação de semelhança entre períodos:

[code]

[2013-06-01 14:24] msampaio commented on #72
O problema na verdade é no método `Segment.score.write`. É possível salvar em xml, mas não em png, pois ocorre este erro:

[code]

[2013-06-01 16:40] ZeRodriguez commented on #77
Professor, e como eu faço nos primeiros compassos, eu escrevo a melodia do baixo na clave de fá mesmo? E depois mudo a clave? E depois da parte C, somente nos compassos 50, 51 e 74 aparecerá o ritmo de novo. Como eu faço? Escrevo a melodia do baixo inteiramente ou no tempo em que houver soprano eu intercalo as vozes?

[2013-06-01 17:03] msampaio commented on #77
@ZeRodriguez, use uma única pauta para escrever as duas melodias e mude entre clave de fá e sol de acordo com a necessidade. Por exemplo, escreva a voz do baixo até o compasso 18, depois a voz do soprano do 18 ao 49, o baixo do 50 ao 51 e assim por diante.  Observe que as melodias são justapostas em toda a música, exceto na parte C, quando estão superpostas. Nos compassos 51 e 52 escolha o que cir

[2013-06-01 17:04] msampaio commented on #77
@ZeRodriguez, uma dica adicional para não perder tempo: se eu demorar para responder uma dúvida específica, siga com as outras músicas/tarefas.

[2013-06-01 17:04] ZeRodriguez commented on #77
Obrigado fessô! Entendido.
SObre a dica, é o que estou fazendo. Pulei para a 91.

[2013-06-01 17:13] AlissonGSilva commented on #80
Eu sei Marcos, tanto que escrevi no arquivo de dúvidas:

21- "Doce de côco", dúvidas na segmentação das frases.

25 - "Eu te quero bem", dúvidas na segmentação das frases.

30 - "Ifelizmente", dúvidas na segmentação das frases.

Vou olhar e corrigir com essas novas informações.

[2013-06-01 18:22] ZeRodriguez commented on #77
Professor, estou com dificuldade em mudar de clave no meio do compasso, como ocorre no caso acima. Tem como me ajudar?

[2013-06-01 18:59] msampaio commented on #77
@ZeRodriguez, YouTube é seu amigo. Veja se [isso](http://www.youtube.com/watch?v=05ZE_44Zd00) te ajuda.

[2013-06-01 19:06] ZeRodriguez commented on #77
Vi justamente esse vídeo, fessô. Repito os mesmos passos mas dá erro. Mas sem problemas, tentarei resolver. Caso contrário, essa será a única música com a qual ficarei em falta. Mas tentarei resolver para fechar a tarefa 100%.

[2013-06-01 20:02] #83 closed, assigned to msampaio

[2013-06-01 20:02] #81 closed, assigned to msampaio

[2013-06-02 16:28] AlissonGSilva commented on #80
Marcos, refiz a segmentação do choro 21- "Doce de côco", ainda estou com
dúvidas a respeito da segmentação desse choro por conta das frases desse
choro.

[2013-06-02 22:27] ZeRodriguez commented on #77
Fessô, atividade concluída. Apenas com a pendência no choro n° 90, "tenebroso".
Estou tentando resolver até terça.
Quanto ao resto do trabalho, deixei de colocar alguns sinais como D.C., Coda, Chaves de volta.
Por inexperiência com o Finale. Peço que você dê uma olhadinha e me dê um retorno sobre o trabalho.
Vlaeu fessô! Té terça!

[2013-06-03 11:55] igorrosario commented on #74
Professor... Ainda sobre as questões dos símbolos, eu cheguei a inseri-los mas não consigo fazer com que o finale obedeça a forma. Olhando o trabalho de @ZeRodriguez ví que ele não colocou nenhum símbolo... Devo proceder da mesma forma?

[2013-06-03 12:02] msampaio commented on #74
@igorrosario, por enquanto faça o mesmo que @ZeRodriguez na tarefa #77. @EduardoNunes irá procurar a bula sobre os símbolos (tarefa #79). Após isso vocês terão que voltar a essas músicas para inserir os símbolos. Não vale a pena perder tempo com os símbolos agora. Melhor seguir em frente.
Não se preocupe se o Finale não toca a forma. No programa trabalharemos com a versão expandida das músicas (vi

[2013-06-03 12:03] msampaio commented on #79
@EduardoNunes, se não encontrar o livro/página no Google books, tire uma cópia da página do livro que tem na biblioteca da escola.

[2013-06-03 12:05] igorrosario commented on #74
Ok! Entendido. Obrigado

[2013-06-03 12:06] msampaio commented on #77
Bom trabalho, @ZeRodriguez. Faça a edição do 90 - tenebroso como expliquei nos comentários anteriores.

[2013-06-03 12:20] msampaio commented on #80
@AlissonGSilva, reveja a segmentação do choro 38 - noites cariocas. Há um erro na linha 9:

[code]

[2013-06-03 12:23] msampaio commented on #80
@AlissonGSilva, ainda no choro 38, observe que você marcou períodos como frase. Há duas frases entre os eventos 2 e 76. A primeira de 2 a 38 e a segunda entre 40 e 76.

[2013-06-03 22:44] AlissonGSilva commented on #80
Você tem razão.
Observei e corrigi.

Então o período fica com três frases. A confusão é que não to acostumado a
ver período de três frases. Fico buscando duas frases semelhantes entre si
num período , e duas frases semelhantes entre si em outro período (se os
dois períodos não são iguais são contrastantes, pelo menos que eu me lembre
é assim). Vou ter que relembrar mais isso, dar uma estudada, por

[2013-06-03 23:26] msampaio commented on #80
@AlissonGSilva, na semana que vem começarei a dar o conteúdo Forma nas aulas de LEM III. Eu recomendo que todos vocês (@EduardoNunes, @SimeiFerreira, @ZeRodriguez, @afonsocelsojr, @menahemhein e @igorrosario) vejam algumas aulas para afinarmos esses conceitos de análise. Podemos nos organizar para vocês analisarem os choros nas aulas, ao invés das composições que o resto da turma irá analisar (exc

[2013-06-03 23:29] ZeRodriguez commented on #80
Professor, quais os dias e horários dessa aulas?

[2013-06-04 12:13] igorrosario commented on #80
Ok! Eu posso nesses Horários!

[2013-06-05 12:55] AlissonGSilva commented on #80
Ok Marcos, também posso nesses dias e nesses horários!
Irei nas aulas!

[2013-06-05 13:13] msampaio commented on #80
@AlissonGSilva, os arquivos de segmentação das músicas 46 a 60 ainda não estão disponíveis no Dropbox. A tarefa ainda está pendente.

[2013-06-05 13:20] msampaio commented on #74
@igorrosario, bom trabalho. Quero que você renomeie os arquivos de forma a ter um padrão como `1 - musica.mus`. Observe que há sempre um espaço antes e depois do hífen, todas as letras devem aparecer em minúsculas, sem caracteres especiais, como acentos e cedilha. Os arquivos que você salvou estão assim:

[code]

[2013-06-05 13:21] #77 closed, assigned to ZeRodriguez

[2013-06-05 13:21] msampaio commented on #79
Não há bula nos livros de Chediak.

[2013-06-05 13:21] #79 closed, assigned to EduardoNunes

[2013-06-05 15:24] menahemhein commented on #76
Professor tem algumas músicas que a clave de fá trabalha além da cifra com algumas melodias  é pra eu colocar também ?

[2013-06-05 16:34] igorrosario commented on #74
Ok. Realmente eu não tinha me atentado para isso.

[2013-06-05 18:30] msampaio commented on #76
@menahemhein, veja se sua dúvida é a mesma que @ZeRodriguez teve na tarefa #77. Caso não seja, por favor faça um printscreen da tela, cole aqui e explique exatamente qual o problema para eu poder te ajudar.

[2013-06-06 22:48] igorrosario commented on #74
Professor, no choro n. 73 " Pitoresco" os primeiros compassos estão escritos em forma de acordes, como uma introdução, depois começa a melodia. Devo escrever como?

[2013-06-07 12:59] AlissonGSilva commented on #80
Vou postar no Dropbox hoje ainda!

Em 5 de junho de 2013 10:13, Marcos da Silva Sampaio <
notifications@github.com> escreveu:

[2013-06-07 14:22] msampaio commented on #74
@igorrosario, você pode fazer um screenshot e colocar aqui? Veja com @ZeRodriguez fez na tarefa #77.

[2013-06-09 04:07] AlissonGSilva commented on #80
Marcos preciso que você faça a enumeração dos choros 46 - "relembrando o
passado", e do choro 58 - " vou casar no uruguay".

Em 7 de junho de 2013 09:59, Alisson Gonçalves da Silva <
alissong.silva17@gmail.com> escreveu:

[2013-06-09 09:57] msampaio commented on #80
Feito

[2013-06-09 21:36] AlissonGSilva commented on #80
Pronto Marcos tarefa terminada!

Dúvidas na segmentação das frases;
21- "Doce de coco",
25 - "Eu te quero bem",
30 - "Infelizmente",
41 - "O que vier eu traço",
43 - " Papagaio embriagado",
47 - "Saudade do cavaquinho",
49 - "Sofres porque queres",
57 - "Velhos tempos",
58 - "Vou casar no Uruguay".

[2013-06-10 14:28] msampaio opened #84 "Criar gráfico comparativo de cada parâmetro"
Criar um gráfico para cada parâmetro comparando os dados dos compositores com maior número de obras e os dados do "estilo choro" (total de compositores). Ao invés de ter um gráfico para cada compositor, criar um gráfico único para cada parâmetro.

[2013-06-10 22:25] msampaio commented on #76
@menahemhein, atualizei sua tarefa para os choros 1 a 50.

[2013-06-10 22:25] #76 closed, assigned to menahemhein

[2013-06-10 22:27] msampaio commented on #76
@menahemhein, para as próximas tarefas observe a sistemática dos nomes de arquivos: sem caracteres especiais e sempre com espaço entre o número, hifen e nome da música: `09 - musica.mus`. Eu corrigi todos os arquivos com problemas.

[2013-06-10 22:28] #74 closed, assigned to nobody

[2013-06-10 23:24] msampaio commented on #80
@AlissonGSilva, encontrei dois erros de segmentação nesses arquivos abaixo. 12 e 28 representam o número da linha. Veja que problema ocorrem em torno dessas linhas.

[code]

[2013-06-10 23:26] msampaio commented on #55
@EduardoNunes, por favor corrija o erro de segmentação que encontrei no arquivo abaixo. O número 22 representa o número da linha do arquivo.

[code]

[2013-06-11 10:17] msampaio commented on #55
@EduardoNunes, por favor corrija também esse outro erro de segmentação na coleção:

[code]

[2013-06-11 11:04] AlissonGSilva commented on #80
Corrigidos.
Era a numeração numa das linhas do arquivo.

Em 10 de junho de 2013 20:24, Marcos da Silva Sampaio <
notifications@github.com> escreveu:

[2013-06-11 14:29] msampaio commented on #77
@ZeRodriguez, alterei o título da tarefa para englobar os choros 50-74, que você já concluiu.

[2013-06-11 14:31] #52 closed, assigned to SimeiFerreira

[2013-06-11 14:33] msampaio commented on #75
@ZeRodriguez, atribuí essa tarefa a você.

[2013-06-12 22:49] msampaio opened #85 "Coletar informações musicológicas sobre compositores"
### Instruções gerais
- Verificar o prazo de entrega da tarefa (milestone)
- Verificar [guia de realização de tarefas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/)
- A [página da pesquisa](http://genosmus.com/pesquisa/contornos/choro/) contém outras informações adicionais
- Toda a discussão acerca desta tarefa deverá ser feita usando os comentários da tarefa. NÃO USAR EMAIL. O G

[2013-06-14 20:01] msampaio commented on #82
Falta checar períodos com uma frase. Esta tarefa depende da solução da tarefa #68.

[2013-06-28 01:33] msampaio opened #86 "Criar algoritmo de percentual de semelhança ao estilo"
O objetivo deste algoritmo é dar um valor entre 0 e 1 com a semelhança dos valores de determinado parâmetro de um compositor com a média do estilo. Por exemplo, na figura abaixo, é possível perceber que Pixinguinha tem mais proximidade do "estilo choro" do que qualquer outro compositor.
No entanto Pixinguinha é o compositor com maior número de segmentos, o que influencia o resultado. Este elemento

[2013-06-28 01:57] msampaio opened #87 "Programar redução de Bor para comparar contornos"
Os contornos das frases são grandes e únicos demais para serem usados para definir o "estilo choro". Por outro lado, a redução de Morris dos contornos aos primos elimina praticamente todas as características internas dos contornos. O algoritmo de redução de Bor representa um meio termo e pode ser útil na definição de contornos deste "estilo choro". O uso deste algoritmo demanda o estudo de uma com

[2013-07-01 17:41] daniloabrahao commented on #85
Dos compositores de 1 a 141 que estão em branco são aqueles que não encontrei informação mesmo aqui na internet. De 142 em diante os que estão em branco não constavam no Dicionário Cravo Albin, no site Samba choro e outras "enciclopédias" da mpb. Continuarei a pesquisa sobre estes últimos. Mas não sei o que fazer sobre estes outros.

[2013-07-01 23:11] #84 closed, assigned to msampaio

[2013-07-02 00:16] msampaio commented on #85
@daniloabrahao, você pode colocar o arquivo que você fez no Dropbox? Assim não há risco de conflito de versões.

[2013-07-02 01:44] msampaio commented on #87
A redução de Bor 355 não é eficiente para comparar contornos reduzidos das frases. Há uma diversidade muito grande para fazer análises. Essa abordagem de comparar contornos reduzidos mais incidentes possivelmente não irá funcionar.
No gráfico abaixo, mais de 80% das frases têm contornos diferentes desses 8 mais comuns. Aumentar o número de contornos comuns exibidos não ajuda na análise.

![contour

[2013-07-02 01:50] msampaio commented on #78
Desnecessário. Fechando tarefa.

[2013-07-02 01:50] #78 closed, assigned to msampaio

[2013-07-02 17:42] daniloabrahao commented on #85
Marcos,

O tentei colocar na pasta do dropbox, mas apareceu a seguinte mensagem:
"Não foi possível sincronizar (não há espaço disponível)"
Sei que o dropbox tem um limite de espaço. Eu nunca compartilhei nada, mas
tem muitas coisas que que outras pessoas compartilharam comigo. Estou
fazendo da maneira errada?

[2013-07-03 11:52] msampaio commented on #85
@daniloabrahao, recomendo que você limpe alguma coisa no seu Dropbox, pois usaremos sempre ele para a pesquisa. Você pode ver quais as pastas que ocupam mais espaço e removê-las do seu Dropbox. Eu sempre recomendo usar o Dropbox apenas para o que é essencial. Por exemplo, eu posso conseguir novamente uma gravação ou partitura de um compositor como Bach ou Beethoven, mas não posso com as minhas pró

[2013-07-03 12:01] msampaio commented on #85
@daniloabrahao, eu olhei o arquivo que você mandou por email para poder adiantar o trabalho. Bom trabalho, você está no caminho certo. Veja se você encontra as informações que faltam sobre compositores neste livro na biblioteca da EMUS:

CAZES, Henrique. . Suite gargalhadas : cento e tantas historias engracadas sobre musica e musicos. Rio de Janeiro: Jose Olympio, 2002. 203 p. ISBN 8503007436
Núme

[2013-07-04 00:59] daniloabrahao commented on #85
Ok Marcos,

Obrigado pela atenção, mesmo!
Eu consegui resolver a questão do Dropbox e, enfim, está lá... Vou
continuar o trabalho!
Desculpe os erros e todo este problema que arrumei com o Dropbox!

Abs!
Danilo

[2013-07-04 01:04] msampaio commented on #85
Sem problema. Em caso de dúvida é só perguntar.

[2013-07-05 10:37] #75 closed, assigned to ZeRodriguez

[2013-07-05 10:38] msampaio commented on #43
Tarefa desnecessária

[2013-07-05 10:38] #43 closed, assigned to nobody

[2013-07-05 10:59] #55 closed, assigned to nobody

[2013-07-05 11:03] msampaio opened #88 "Revisar segmentações dos choros 20-40 da coleção de Pixinguinha"
Rever arquivos `.phrase` e transformar em `.form`. Caso necessário, segmentar seguindo instruções no [guia de tarefas](http://genosmus.com/pesquisa/contornos/choro/guia/#Segmentação_formal_das_canções). Verificar se há períodos segmentados como frases.

[2013-07-05 11:05] msampaio opened #89 "Revisar segmentações dos choros 41-72 da coleção de Pixinguinha"
Rever arquivos `.phrase` e transformar em `.form`. Caso necessário, segmentar seguindo instruções no [guia de tarefas](http://genosmus.com/pesquisa/contornos/choro/guia/#Segmentação_formal_das_canções). Verificar se há períodos segmentados como frases.

[2013-07-05 11:08] msampaio opened #90 "Expandir as repetições dos choros 1-60 do livro O melhor do choro vol. 3"
### Instruções gerais
- Verificar o prazo de entrega da tarefa (milestone)
- Verificar [guia de realização de tarefas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/)
- A [página da pesquisa](http://genosmus.com/pesquisa/contornos/choro/) contém outras informações adicionais
- Toda a discussão acerca desta tarefa deverá ser feita usando os comentários da tarefa. NÃO USAR EMAIL. O G

[2013-07-05 11:10] msampaio opened #91 "Segmentar a forma das composições 01-10 do livro O Melhor do choro vol. 3"
### Instruções gerais
- Verificar o prazo de entrega da tarefa (milestone)
- Verificar [guia de realização de tarefas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/). Há uma seção específica sobre o formato do arquivo de segmentação.
- A [página da pesquisa](http://genosmus.com/pesquisa/contornos/choro/) contém outras informações adicionais
- Toda a discussão acerca desta tarefa d

[2013-07-05 11:11] msampaio opened #92 "Segmentar a forma das composições 11-20 do livro O Melhor do choro vol. 3"
### Instruções gerais
- Verificar o prazo de entrega da tarefa (milestone)
- Verificar [guia de realização de tarefas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/). Há uma seção específica sobre o formato do arquivo de segmentação.
- A [página da pesquisa](http://genosmus.com/pesquisa/contornos/choro/) contém outras informações adicionais
- Toda a discussão acerca desta tarefa d

[2013-07-08 05:00] SimeiFerreira commented on #90
@msampaio, você poderia verificar se expandi corretamente o Choro 39 "Meu Caro Amigo" da Coleção "O melhor do choro vol. 3"? Estou em dúvida se expandi corretamente o sinal de repetição após o compasso 33.

[2013-07-09 03:08] SimeiFerreira commented on #90
@msampaio infelizmente não conseguirei finalizar as expansões até a reunião de amanhã, estou perdendo muito tempo escrevendo vários compassos que foram "engolidos" durante a edição dos choros da referida coleção. Vou adiantar o quanto puder.

[2013-07-09 10:04] msampaio commented on #90
Ok, @SimeiFerreira. Ao final registre aqui quais as músicas que você teve que corrigir a edição.

[2013-07-09 17:36] daniloabrahao commented on #85
Exitem dois compositores apelidados como "Ratinho", um Português e letrista de samba e o outro brasileiro que integrou o duo "Jararaca e Ratinho" e que se chama Severino Rangel Carvalho. "Ratinho" e "Severino Rangel Carvalho" estão na lista.  Não sei com os dados de quem preencherei o item "Ratinho".

Esta lista que estou preenchendo é formada por nomes que foram tirados dos Songbooks? Posso sanar

[2013-07-09 19:00] msampaio commented on #85
@daniloabrahao, todos os nomes de compositores foram extraídos dos songbook. Vale a pena você usar os nomes das músicas para confirmar de quem se trata. Talvez ajude a resolver esse problema com Ratinho/Severino Rangel Carvalho.

[2013-07-09 19:08] SimeiFerreira commented on #90
@msampaio,

Eu admito que não lembro com exatidão todos os choros que precisei corrigir, terei de refazer uma análise comparativa em relação aos choros contidos na pasta "originais" de maneira que eu possa documentar aqui.

Vou continuar adiantando as expansões, ao finalizá-las faço a comparação das mesmas em relação às originais editadas para documentar os choros que precisei corrigir. Alguns del

[2013-07-10 00:05] SimeiFerreira commented on #90
@msampaio, estou com uma dúvida em relação ao choro 51 "Solitário" da coleção "O melhor do choro vol. 3". Veja na foto:
![choro](https://f.cloud.github.com/assets/3719195/771925/cbaaac44-e8f3-11e2-8a4e-53abba65d181.jpg)
Onde marquei em VERMELHO, o sinal pede para repetir de um sinal ao outro e pular quando chegar ao segundo sinal para o sinal equivalente que está mais adiante no decorrer da partit

[2013-07-10 01:43] msampaio commented on #90
@SimeiFerreira, depois de voltar para o sinal, faça os compassos entre o sinal e a coda sem repetição. É o que normalmente ocorre nesses casos.

[2013-07-10 13:17] msampaio commented on #90
@SimeiFerreira, você ainda está com dúvida no choro 39, 'Meu Caro Amigo'?

[2013-07-10 21:30] msampaio opened #93 "Verificar aplicabilidade da Teoria dos Erros nos dados levantados"
Verificar se é há melhoria significativa no entendimento dos dados com a aplicação de desvio padrão, acuracidade, precisão, nível de confiança e outros conceitos relacionados a medidas.

[2013-07-10 23:06] msampaio commented on #93
@SaraFadigas, atribuí essa tarefa pra você.

[2013-07-10 23:31] SaraFadigas commented on #93
Certo. Qual o prazo para conclusão dessa tarefa?

[2013-07-11 01:28] SaraFadigas commented on #93
Onde encontro na pasta os dados da pesquisa?

[2013-07-11 10:26] msampaio commented on #93
@SaraFadigas, a princípio o prazo é dia 16. Nāo defini com precisāo por nāo saber exatamente quanto tempo será necessário para concluir a tarefa.
Veja os dados no site umazero.genosmus.com. Irei te enviar as tabelas com os valores.

[2013-07-11 15:02] SaraFadigas commented on #93
essa comparacao será feita com dados antigos e esse atuais, ou eu farei a comparacao desses com os novos que o pessoal vai atualizar?

[2013-07-11 17:15] SaraFadigas commented on #93
Eu vou precisar dos dados numéricos referentes aos graficos do "Pitch". Em quais arquivos posso achar esses dados?

[2013-07-11 18:51] SimeiFerreira commented on #90
Tenho sim @msampaio.

Veja no Print:

![choro39](https://f.cloud.github.com/assets/3719195/783942/410e376e-ea5a-11e2-883c-81a0f8bc4e51.jpg)

Onde marquei em VERMELHO é solicitado para voltar ao sinal de repetição por 3 vezes e depois pular para a coda marcados em AZUL. Eu fiz da seguinte forma, voltei para o sinal de repetição por três vezes, sendo que nas duas primeiras eu repeti até o trecho mar

[2013-07-11 18:58] msampaio commented on #90
@SimeiFerreira, essa é uma boa questão de interpretação. Concordo com a forma que você escolheu para fazer. Penso que se fosse "ao sinal e coda", teríamos só os 3 primeiros sistemas e coda. Se pedisse "ao sinal 2x e coda", teríamos a repetição até o sinal verde e depois os 3 sistemas e coda, e assim por diante.

[2013-07-11 19:16] msampaio commented on #93
@SaraFadigas, dentro da pasta `genos-choros` eu criei a subpasta `estatistica` com o arquivo `dados-intervalos.xls`. Esta tabela é apenas provisória, para você ver o que pode adiantar. Nela há o percentual de cada tipo de intervalo entre os compositores com maior número de obras. Nos próximos dias irei te dar dados melhores para trabalhar.

[2013-07-11 19:18] msampaio opened #94 "Criar funções para gerar dados para análise estatística"
Estas funções deverão resultar em tabelas para a realização de estudo estatístico. Esta tarefa possibilitará o levantamento de dados mais significativos para a realização da tarefa #93.

[2013-07-11 19:19] SimeiFerreira commented on #90
Pronto, valeu.

[2013-07-11 19:51] msampaio commented on #68
Para solucionar o problema estou mudando a forma de contar os períodos e adicionando número para cada segmento. A contagem dos períodos pode ocorrer dentro das partes, ao invés de ocorrer fora. Por exemplo, a enumeração do exemplo desta tarefa pode mudar para:

[code]

A contagem do período só faz sentido dentro da parte, e não mais na música inteira, como acontecia.

[2013-07-11 21:41] #68 closed, assigned to msampaio

[2013-07-11 22:20] #82 closed, assigned to msampaio

[2013-07-11 22:31] msampaio commented on #72
O problema não existe mais, provavelmente em função da solução da tarefa #68. O método `Segment.score.write('png')` funciona sem problemas

[2013-07-11 22:31] #72 closed, assigned to msampaio

[2013-07-11 22:54] msampaio commented on #87
Experimentei realizar o estudo com as combinações de janela 35, 555, 3555, e 5555. Considerando o gráfico de todos os compositores, na janela 35 o número de outros contornos foi além de 95%. Esta janela é ainda mais ineficiente do que 355. O menor percentual de outros contornos ocorreu com a janela 5555, com pouco mais que 40%. Além desse percentual ainda ser relativamente alto, os 8 contornos mai

[2013-07-11 22:54] #87 closed, assigned to msampaio

[2013-07-12 15:09] msampaio commented on #87
Experimentei usar a redução de Bor para comparar os contornos de todos os segmentos de cada música. Este estudo não é viável, pois muitos dos contornos reduzidos ficam com mais de 10 _CP_. É inviável calcular a similaridade entre contornos grandes, pois a ferramenta de similaridade por contorno embutido precisa calcular cada subconjunto dos contornos comparados. Esta operação demanda elevada capac

[2013-07-12 19:33] msampaio commented on #94
É necessário criar uma função que processe também os dados usados em gráficos de dispersão.
É interessante implementar a geração automática de arquivos `.xls` para agilizar o processo. O pacote [Python-Excel](http://www.python-excel.org/) tem esse recurso.

[2013-07-12 19:35] msampaio commented on #93
@SaraFadigas, eu criei arquivos em formato '.csv' com os dados levantados na mesma subpasta `estatistica`. Basta abrir em um software de planilha e processar. Nestes arquivos os valores são absolutos. Se tiver dúvidas é só perguntar por aqui.

[2013-07-12 21:21] daniloabrahao commented on #85
@msampaio, agora estou pesquisando em enciclopédias que estão na biblioteca da EMUS. Todavia, existem alguns muitos compositores os quais não encontrei informação nenhuma. E receio não encontrar até o prazo final. Você sabe de algum site do governo que tenha o registro das pessoas? Seria bem útil no caso dos compositores que não utilizavam apelidos e aqueles que descobri o nome completo.

[2013-07-13 01:36] SaraFadigas commented on #94
Estou trabalhando nisso.

[2013-07-13 11:38] msampaio commented on #94
Oi, @SaraFadigas. Na verdade essa tarefa #94 é minha e se refere a funções do programa para te dar os dados que você precisa para trabalhar. A sua tarefa é a #93 ;-)

[2013-07-13 11:57] msampaio commented on #85
@daniloabrahao, bom trabalho. Eu não sei de um site que possamos ver informações a partir do nome das pessoas. Falarei com alguns colegas da área de Etnomusicologia para saber como podemos proceder. Ao final da tarefa eu quero que você relate aqui quais os problemas encontrados e como você procedeu para soluciona-los.

[2013-07-13 11:58] daniloabrahao commented on #85
Ok!

[2013-07-13 15:44] ZeRodriguez commented on #88
@msampaio, das minhas segmentações, 21 à 40, não consegui fazer a 24, 34 e 38.
Tive dificuldades para identificar as frases.
Até terça-feira, dia 16, vou tentando resolver essas pendências.

[2013-07-13 18:09] menahemhein commented on #91
Professor, tem certeza que é o Melhor do choro vol.3 ? o vol 3 parece não ter as numbered que são utilizadas para segmentação !

[2013-07-13 19:45] msampaio commented on #88
@ZeRodriguez, sem problemas. Caso ainda não tenha, crie um arquivo `duvidas.txt` na pasta da coleção e informe quais as músicas e onde exatamente você teve as dúvidas.

[2013-07-13 23:37] msampaio commented on #85
@daniloabrahao, um colega me recomendou procurar informações sobre os compositores na [Enciclopédia da Música Brasileira: Samba e Choro](http://publifolha.folha.com.br/catalogo/livros/135477/). Você pode olhar e informar aqui?

[2013-07-13 23:43] msampaio opened #95 "Revisar segmentações dos choros 11 e 16 da coleção de Pixinguinha"
Estes choros têm períodos segmentados com uma única frase. Corrigir.

[2013-07-14 00:01] msampaio commented on #90
@SimeiFerreira, eu vi que os choros 11 a 60 estão expandidos. Houve algum problema com os choros 1 a 10?

[2013-07-14 00:07] msampaio opened #96 "Segmentar a forma das composições 21-30 do livro O Melhor do choro vol. 3"
### Instruções gerais
- Verificar o prazo de entrega da tarefa (milestone)
- Verificar [guia de realização de tarefas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/). Há uma seção específica sobre o formato do arquivo de segmentação.
- A [página da pesquisa](http://genosmus.com/pesquisa/contornos/choro/) contém outras informações adicionais
- Toda a discussão acerca desta tarefa d

[2013-07-14 00:09] msampaio commented on #91
@menahemhein, realmente estas músicas ainda estão sem expansão, conforme informei na tarefa #90. Até que as expansões estejam prontas, atribuí a tarefa #96 para você. Os arquivos enumerados já estão na pasta do Drobpox.

[2013-07-14 00:11] msampaio commented on #91
@menahemhein, eu recomendo que você use o MuseScore para fazer a tarefa. Após testar o Finale e o MuseScore, @EduardoNunes disse que o MuseScore é melhor.

[2013-07-14 03:03] SimeiFerreira commented on #90
Olá Marcos, a princípio você havia dito que o Quedson fez a expansão dos choros 1-10, por isso me pediu para expandir do 11 ao 60. Quando conclui resolvi refazer as expansões 1-10, estou quase concluindo. No máximo amanhã concluo o livro.

[2013-07-14 05:54] ZeRodriguez commented on #95
@msampaio, a número 11 ficou bem diferente. Já a número 16, acrescentei só um link e mudei uma marcação de frase. Agora, como faço? Excluo o que já está no dropbox e coloco o meu no lugar?

[2013-07-14 10:12] msampaio commented on #90
@SimeiFerreira, é verdade. Kedson fez a expansão dos choros 1--10. Faltou apenas salvar em xml.

[2013-07-14 10:14] msampaio commented on #95
@ZeRodriguez, para essas tarefas você pode editar os arquivos direto no Dropbox. É a melhor solução. O Dropbox guarda as versões antigas e sempre podemos voltar a elas se necessário.

[2013-07-14 10:16] msampaio opened #97 "Expandir as repetições dos choros 60-72 do livro O melhor de Pixinguinha"
### Instruções gerais
- Verificar o prazo de entrega da tarefa (milestone)
- Verificar [guia de realização de tarefas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/)
- A [página da pesquisa](http://genosmus.com/pesquisa/contornos/choro/) contém outras informações adicionais
- Toda a discussão acerca desta tarefa deverá ser feita usando os comentários da tarefa. NÃO USAR EMAIL. O G

[2013-07-14 10:40] msampaio opened #98 "Organizar dúvidas sobre edições e expansões em um único lugar"
Em cada pasta de coleção há um arquivo txt com as músicas que geraram dúvidas na hora da edição. O trabalho é reunir todas essas informações em um único arquivo txt, na pasta `expandidos`, com essa estrutura:

[code]

Informe também se há algum choro sem expansão. O objetivo dessa tarefa é mapear exatamente o que precisa ser feito para concluir as expansões das coleções de Pixinguinha e Melhor do

[2013-07-14 11:00] msampaio commented on #85
@daniloabrahao, suspenda temporariamente a pesquisa relacionada aos compositores que não estão listados em http://umazero.genosmus.com/collections.html#composers. Nesse momento o mais importante para nós será focar na coleção 'O melhor do choro'. Eu removi os compositores da coleção de Almir Chediak.

[2013-07-14 11:46] ZeRodriguez commented on #95
Feito!

[2013-07-14 11:52] #95 closed, assigned to ZeRodriguez

[2013-07-14 14:38] SaraFadigas commented on #94
O senhor tem disponibilidade para se reunir comigo, pra eu tirar eventuais dúvidas, amanhã? Tenho disponível das 11h as 15h.

[2013-07-14 21:11] SimeiFerreira commented on #90
Em todo o caso eu refiz as expansões do choro 1 até o 7 e salvei os respectivos xml. Agora vou finalizar os últimos três que faltavam para completar o livro.

[2013-07-14 21:43] daniloabrahao commented on #85
@msampaio, eu já utilizei esta Enciclopédia semana passada na EMUS.
Ok, vou redirecionar minha atenção para os que faltam desta lista.

[2013-07-15 07:18] SimeiFerreira commented on #90
Tarefa concluida.

[2013-07-15 09:10] #90 closed, assigned to SimeiFerreira

[2013-07-16 06:47] menahemhein commented on #96
Professor  terminei as segmentações, vou dar uma estudada amanhã como coloco no formato .form,  e depois dou uma revisada(preciso estudar mais analise de frase). Grande abraço !

[2013-07-16 20:13] AlissonGSilva commented on #97
Marcos já expandi, está faltando o choro 72 na pasta dos originais, e os arquivos enumerados para segmentação.

[2013-07-16 20:47] msampaio commented on #97
@AlissonGSilva, eu estou sem o livro original em mãos. Pedirei que um colega escaneie esse choro 72 e colocarei na pasta do Dropox. Enquanto isso aproveite para adiantar outras tarefas.

[2013-07-17 15:32] msampaio opened #99 "Programar função para coletar conteúdos de tempo"
Programar função que colete os conteúdos de tempo de todos os segmentos: 4, 8 8, 8. 16, 16 16 16 16, etc.

Alda Oliveira analisa este elemento em canções vernáculas.

Oliveira, Alda de Jesus. 2001. “Música Na Escola Brasileira. Frequência de Elementos Musicais Em Canções Vernáculas Da Bahia Utilizando Análise Manual e Por Computador: Sugestões Para Aplicação Na Educação Musical.” Teses Na Educação

[2013-07-17 15:36] msampaio opened #100 "Programar função para fazer comparações entre o compositor e uma coleção de dados"
Esta função poderá retornar um vetor com os dados de uma coleção dada, e de um compositor dado. O objetivo é comparar do tipo "âmbitos de Pixinguinha x Waldir Azevedo", ou "intervalos de compositores de sopro e todos os compositores exceto Pixinguinha".
Esta função poderá ter recursos adicionais para gerar gráfico comparativo e uma planilha.

[2013-07-19 11:09] msampaio commented on #97
@AlissonGSilva, coloquei a coleção "O Melhor de Pixinguinha" em PDF na pasta `partituras`, no Dropbox. Você pode editar, expandir e então me avisar para eu gerar os arquivos enumerados.

[2013-07-19 21:13] msampaio commented on #99
Para programar essa função é preciso manipular o objeto `MeterTerminal` no [Music21](http://web.mit.edu/music21/doc/html/overviewMeters.html#objects-for-organizing-hierarchical-partitions).

[2013-07-20 00:54] menahemhein commented on #96
MArcos tive um problema com a forma do choro 23 Elegante achei a forma dele estranha por demais e não consegui fazer ! O resto eu coloquei

[2013-07-20 00:55] menahemhein commented on #91
Professor continuo não achando o numbered nos choros de 1 a 10.

Grande abraço.

[2013-07-20 10:39] msampaio commented on #96
@menahemhein, o que há de estranho na forma? Seja mais específico.

[2013-07-20 10:43] msampaio commented on #91
@menahemhein, de fato eu não havia gerado os arquivos enumerados. Já os coloquei no Dropbox.

[2013-07-22 01:40] AlissonGSilva commented on #97
Marcos esse livro só tem 71 choros, já expandi eles todos, falta só você gerar os arquivos enumerados pra finalizar.

[2013-07-22 11:21] msampaio commented on #92
@drakoor, por favor mantenha o padrão de nomes de arquivos como em `12 - arquivo.form`. Há arquivos fora do padrão, como `12-arquivo.form` e `12- arquivo.form`.

[2013-07-22 11:26] msampaio commented on #97
@AlissonGSilva,
1. Os arquivos enumerados já estão na pasta do Dropbox.
2. Observe que há arquivos salvos como `nome .form`, ao invés de `nome.form`. Aproveite e corrija-os.
3. As músicas 67 e 68 têm mesmo nome de arquivo.

[2013-07-22 21:18] AlissonGSilva commented on #97
Os choros 67 e 68; os nomes são "Rosas" mesmo, só que o 68 é "Rosa" (Evocação) e o 67 é só "Rosa".

[2013-07-24 11:31] msampaio opened #101 "Programar função para checar proporção do ponto culminante"
Kostka e Payne afirmam que uma boa melodia deve ter apenas um ponto focal: a nota mais aguda da melodia. É interessante verificar em que proporção dentro da frase essa nota acontece nos choros.
Para programar a função basta verificar a nota mais aguda, o lapso de tempo entre o início e a ocorrência da nota, e dividir pelo tamanho total da frase.

[2013-07-24 11:38] msampaio commented on #96
@menahemhein, duas coisas:
1. Seja específico nas dúvidas. Você falou que havia algo de estranho na forma, mas não disse o que é.
2. Ao salvar os arquivos `.form`, seja cuidadoso com os nomes, pois temos um padrão para o meu programa ler: `número - título.form`. Por exemplo, `21 - divagando.form`. Você não seguiu esse padrão e fez títulos como `21-divagando.form` e `21- divagando.form`, com erros

[2013-07-24 11:40] #98 closed, assigned to AlissonGSilva

[2013-07-24 11:45] msampaio commented on #92
@drakoor, por favor renomeie os arquivos desta tarefa conforme minha mensagem anterior para que eu possa fechar essa tarefa.

[2013-07-24 11:46] #89 closed, assigned to AlissonGSilva

[2013-07-24 11:49] msampaio commented on #88
@ZeRodriguez, não vi o arquivo `.form` dos choros 38 e 40. Caso seja uma situação de dúvida, acrescente-os no arquivo `Todas as dúvidas.txt` que @AlissonGSilva criou na pasta `expandidos`.

[2013-07-24 11:54] msampaio commented on #85
@daniloabrahao, conforme falei na [reunião de ontem](http://genosmus.com/2013/07/ata-da-reuniao-de-23072013/), insira aqui as referências que você consultou durante a tarefa. Vale a pena cadastra-las no [Mendeley](http://www.mendeley.com/). Se você não souber fazer isso eu te ensino.

[2013-07-24 12:04] msampaio opened #102 "Segmentar a forma das composições 31-45 do livro O Melhor do choro vol. 3"
### Instruções gerais
- Verificar o prazo de entrega da tarefa (milestone)
- Verificar [guia de realização de tarefas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/). Há uma seção específica sobre o formato do arquivo de segmentação.
- A [página da pesquisa](http://genosmus.com/pesquisa/contornos/choro/) contém outras informações adicionais
- Toda a discussão acerca desta tarefa d

[2013-07-24 12:05] msampaio opened #103 "Segmentar a forma das composições 46-60 do livro O Melhor do choro vol. 3"
### Instruções gerais
- Verificar o prazo de entrega da tarefa (milestone)
- Verificar [guia de realização de tarefas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/). Há uma seção específica sobre o formato do arquivo de segmentação.
- A [página da pesquisa](http://genosmus.com/pesquisa/contornos/choro/) contém outras informações adicionais
- Toda a discussão acerca desta tarefa d

[2013-07-24 12:09] msampaio opened #104 "Revisar choros com problemas"
### Instruções gerais
- Verificar o prazo de entrega da tarefa (milestone)
- Verificar [guia de realização de tarefas da pesquisa](http://genosmus.com/pesquisa/contornos/choro/guia/). Há uma seção específica sobre o formato do arquivo de segmentação.
- A [página da pesquisa](http://genosmus.com/pesquisa/contornos/choro/) contém outras informações adicionais
- Toda a discussão acerca desta tarefa d

[2013-07-24 12:12] msampaio opened #105 "Revisar segmentações da coleção O Melhor do choro vol 1"
Verificar se as segmentações da coleção estão corretas. Registrar aqui todos os casos em que precisar alterar as segmentações.

[2013-07-24 12:13] msampaio opened #106 "Revisar segmentações da coleção O Melhor do choro vol 2"
Verificar se as segmentações da coleção estão corretas. Registrar aqui todos os casos em que precisar alterar as segmentações.

[2013-07-24 12:47] msampaio commented on #97
@AlissonGSilva, corrija o `.form` desta música:

[code]

[2013-07-24 14:57] daniloabrahao commented on #85
Ok,
As fontes da web também?

[2013-07-24 15:05] ZeRodriguez commented on #88
@msampaio, acabo de colocar a 38. Não sei o que foi, deixei passar. Mas ela já está lá, sendo que foi mais uma complicada. Quanto ao choro número 40, tentei mais uma vez e nada. Colocarei na pasta de dúvida.

[2013-07-24 15:07] ZeRodriguez commented on #106
@msampaio, a respeito dessa tarefa, é para revisar o livro inteiro, não é isso?

[2013-07-24 15:09] ZeRodriguez commented on #88
@msampaio, vou excluir os arquivos .form do meu computador, já que se encontram no dropbox. Não tem problema não, né?

[2013-07-24 15:26] msampaio commented on #85
Sim.

[2013-07-24 15:28] msampaio commented on #106
Sim. Basta ouvir as musicas no arquivo enumerado junto com o arquivo form. Recomendo primeiro anotar o que vc terá que rever. Depois vc volta para corrigir.

[2013-07-24 15:31] msampaio commented on #88
@ZeRodriguez , nao exclua nada. Se remover da sua maquina, o dripbox irá apagar as cópias locais de todo mundo.

[2013-07-24 16:23] ZeRodriguez commented on #88
@msampaio, tranquilo.

[2013-07-24 16:44] ZeRodriguez commented on #106
@msampaio, tranquilo fessô. Estou familiarizado com o  procedimento. As revisões têm sido bem tranquilas. Existem pequenos erros, mas têm sido bem recorrentes. Uma frase termina em 10 e a seguinte começa em 11. Quem segmentou, colocou que a frase termina em 11 e a seguinte também começando em 11. Fora isso, sem problemas.

[2013-07-24 19:30] msampaio commented on #100
A função de gerar vetores está pronta. Já existia função para isso no módulo `matrix`. Para criar uma função para gerar gráficos é preciso refatorar toda a geração de matriz, gráfico e página web de resultados.
O ideal é criar funções independentes do módulo `webpage`, para gerar os dados numéricos, para gerar os gráficos e para gerar a página de resultados.

[2013-07-24 19:34] ZeRodriguez commented on #106
@msampaio, já fiz grande parte da revisão. Eu não sei quem a segmentou, mas eu penso diferente. Gostaria de tirar essa dúvida. Em muitos casos, depois que a frase se encerra, tem uma espécie de codeta. Geralmente um arpejo. Por exemplo, a frase encerra no Dó 3, e ele segue com um arpejo do acorde e termina no Dó 4. Eu considero essa "codeta" como um apequena extensão ainda fazendo parte da frase.

[2013-07-24 20:00] msampaio commented on #106
@ZeRodriguez, registre aqui todas as músicas que você alterou.

[2013-07-24 20:36] msampaio commented on #101
O resultado gráfico desta função mostra que há uma distribuição homogênea da primeira ocorrência da nota mais aguda do segmento. No entanto Ernesto Nazareth tem um número significativo de segmentos que se iniciam na nota mais aguda, e tem um valor mais discreto em torno da seção áurea (0,618).
![focal-point-position](https://f.cloud.github.com/assets/1006488/851681/c07a229c-f4a0-11e2-966a-5732dc2d

[2013-07-24 20:36] #101 closed, assigned to msampaio

[2013-07-25 01:24] AlissonGSilva commented on #97
Ok Marcos, já corrigi o erro que tinha.

[2013-07-25 01:41] msampaio commented on #71
Nāo realizarei essa tarefa a tempo para este projeto.

[2013-07-25 01:42] #71 closed, assigned to nobody

[2013-07-25 01:43] msampaio commented on #30
Nāo realizarei esta tarefa a tempo para este projeto.

[2013-07-25 01:43] #30 closed, assigned to msampaio

[2013-07-25 08:37] SimeiFerreira commented on #102
@msampaio, veja no choro 33 "Indiferente"

![choro33](https://f.cloud.github.com/assets/3719195/854434/5f4e8896-f504-11e2-86a4-6391f5aa4005.jpg)

Onde marquei em vermelho pede para voltar ao sinal e pular de uma coda para a outra, eu expandi repetindo o conteúdo do ritornelo das casas 1 e 2 como marcado em azul e após a casa 2 segui direto até a coda em verde, pulando em seguida para a coda que ve

[2013-07-25 09:57] msampaio commented on #102
@SimeiFerreira, chamemos a parte do primeiro ritornelo de A, do segundo ritornelo de B, e a coda (que não aparece), de C. Chamemos casa 1 de 1, casa 2 de 2, e o salto sem casa 1 ou 2 de 0. Teríamos então uma forma A1A2 B1B2 A1A2 B0 C. A expansão está assim?

[2013-07-25 10:11] ZeRodriguez commented on #106
@msampaio, fui seguindo a ordem das músicas. Ontem fiz da número 1 até a número 25. Nem todas precisaram de mudanças. Mas como eu editei o arquivo .form direto do dropbox, eu não tenho como dizer quais músicas foram alteradas. Tem algum problema nisso?

[2013-07-25 10:39] msampaio commented on #106
@ZeRodriguez, você tem como dizer quais músicas foram alteradas. Basta ir na página do Dropbox, clicar em events, escolher a pasta genos-choros e procurar as músicas que você alterou. Veja na imagem abaixo:

![screen shot 2013-07-25 at 07 37 06](https://f.cloud.github.com/assets/1006488/855063/7279fe3e-f516-11e2-8aa8-affaf3e38a54.png)

[2013-07-25 10:49] ZeRodriguez commented on #106
@msampaio, tranquilo. Essas são as que eu editei:

1, 2, 3, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15, 16, 17, 19, 23, 24, 25, 26, 27, 28

Até o momento só essas. Como falei antes, as primeiras tiveram problemas de erro de digitação dos números, as segmentações estavam similares. Quanto a minha segunda dúvida, em relação aos links, as músicas número 26 e 28 exemplificam bem, logo no início.

[2013-07-25 11:02] msampaio commented on #106
@ZeRodriguez, apenas as músicas 4, 8, 18, 21, 22, 29 e 30 estavam corretas?

[2013-07-25 11:50] ZeRodriguez commented on #106
@msampaio, isso mesmo. Mas como eu falei, a maioria não tinha erros na segmentação, e sim na escrita.
Exemplo, a frase A termina em 10 e a B começa em 11. Quem segmentou colocou a A terminando em 11 e a B começando em 11.

[2013-07-26 12:14] daniloabrahao commented on #85
@msampaio, desculpe a demora em responder.
Não sei cadastrar a bibliografia no Mendeley, ainda. Vou tentar aprender aqui, de qualquer forma vou deixar as fontes bibliográficas da minha tarefa num próximo comentário aqui.

[2013-07-26 12:49] daniloabrahao commented on #85
Referências Bibliográficas:
1. MARCONDES, Marco Antônio; Enciclopédia da música brasileira: erudita, folclórica e popular. 2 ed. São Paulo: Art Editora, 1998.
2. Dicionário Cravo Albin da Música Popular Brasileira: http://www.dicionariompb.com.br/
3. A Agenda do Samba & Choro: http://www.samba-choro.com.br/artistas
4. MPB CIFRANTIGA: http://cifrantiga.blogspot.com.br/
5. Ao Chiado Brasileiro: http

[2013-07-26 13:05] msampaio commented on #85
Sem problema, @daniloabrahao. Você usou alguma referência além dessas quatro?

[2013-07-26 13:08] daniloabrahao commented on #85
Sim, @msampaio.
Algumas das outras são referência sem muita credibilidade, como blogs pessoais... Devo colocar mesmo assim?

[2013-07-26 13:13] msampaio commented on #85
Coloque sim ;-)

[2013-07-26 13:34] drakoor commented on #92
Certo professor, corrigirei isso agora.

[2013-07-26 14:22] daniloabrahao commented on #85
OBS: O nome do compositor "Paulo Helio Delmiro", presente na lista, está errado. "Hélio Delmiro" é o nome correto e "Marceneiro Paulo" nome de sua composição.

[2013-07-26 15:48] msampaio commented on #85
Qual a coleçāo?

[2013-07-26 18:51] daniloabrahao commented on #85
Songbook CHORO vol.3 Almir Chediak.

[2013-07-26 19:43] ZeRodriguez commented on #106
@msampaio, estou continuando com as revisões. Dessa vez, fazendo relatório. Facilita bastante. A número 46, "Saxofone Por Que Choras" está sem o arquivo numerado. Assim, não dá para revisar.

[2013-07-27 07:37] SimeiFerreira commented on #102
Isso mesmo @msampaio, após o sinal (A1A2) eu expandi de maneira que a parte B pule para a C sem chegar às casas 1 e 2, o famigerado B0 que resultou em uma parte com frase única na segmentação.

[2013-07-27 09:43] SimeiFerreira commented on #106
@ZeRodriguez, eu segmentei a coleção o melhor do choro 2. Nos choros que você citou, eu segmentei daquela forma porque achei que havia uma elisão entre as frases, mesmo sem haver um link entre as mesmas.

[2013-07-27 19:27] msampaio commented on #106
@ZeRodriguez, coloquei o arquivo enumerado da música 46 na pasta do Dropbox.

[2013-07-27 19:33] msampaio commented on #85
@daniloabrahao, por favor corrija o nome dele e de composição nas planilhas `Mapeamento_dos_choros.xls` e `informacao-corpus-choros.xls`.

[2013-07-28 01:03] menahemhein commented on #96
Valeu marcos ! E aquela segmentação pendente acho que consegui resolver ela.  Quanto aos nomes me passei no padrão do nome mesmo, desculpa !  vou consertar todos !

[2013-07-28 01:06] menahemhein commented on #96
Vi que o senhor mesmo  corrigiu os nomes, peço de novo desculpas, vou ficar mais atento a isso !

[2013-07-28 01:31] msampaio commented on #96
@drakoor corrigiu os nomes ;-)

[2013-07-28 20:58] ZeRodriguez commented on #106
Tranquilo @msampaio e @SimeiFerreira.

[2013-07-28 22:09] ZeRodriguez commented on #88
@msampaio, só para ratificar, essa tarefa já foi concluída.

[2013-07-28 22:10] ZeRodriguez commented on #106
@msampaio,tarefa concluída.

[2013-07-29 11:13] daniloabrahao commented on #85
@msampaio, será que você pode me explicar como cadastrar as referências bibliográficas no Mendeley? Se preferir, eu posso levar meu computador amanhã na reunião.

[2013-07-29 11:25] msampaio opened #107 "Revisar edição da música 11 - Carinhoso, da coleção O Melhor de Pixinguinha"
Entre os compassos 39 e 47 há uma modulação inexistente no original. Ver se há outros problemas do tipo. Corrigir os arquivos das pastas `expandidos` e `originais`.

[2013-07-29 13:20] msampaio commented on #106
@ZeRodriguez, por favor corrija esses erros:

[code]

[2013-07-29 15:58] ZeRodriguez commented on #106
Corrigido @msampaio.

[2013-07-29 16:03] msampaio commented on #91
@menahemhein, corrija os erros do choro 7. Há pelo menos uma frase com indicação errada de numeração.

[2013-07-29 16:07] msampaio commented on #92
@drakoor, há diversos arquivos `.form` fora do padrão. Verifique para que estejam exatamente como o [manual](http://genosmus.com/pesquisa/contornos/choro/guia/#Segmentação_formal_das_canções). Observe que não pode haver espaço no início das linhas, que sempre há 1 espaço entre o `#` e o `part` ou `period`. Além disso há diversos períodos com muito mais que duas frases. Isso é raro nesses choros. V

[2013-07-29 16:14] msampaio commented on #96
@menahemhein, por favor corrija esses erros. Basta procurar os números das linhas. O problema pode estar na linha exata ou nas linhas vizinhas.

[code]

[2013-07-29 16:16] msampaio commented on #96
@menahemhein, há outros erros para você corrigir na segmentação dos arquivos 27 e 30.

[2013-07-29 16:21] msampaio commented on #91
@menahemhein, corrija também esses problemas de segmentação:

[code]

[2013-07-29 16:31] msampaio commented on #106
Bom trabalho, @ZeRodriguez. Fechando tarefa.

[2013-07-29 16:31] #106 closed, assigned to ZeRodriguez

[2013-07-29 16:32] msampaio commented on #88
Bom trabalho. Fechando tarefa.

[2013-07-29 16:32] #88 closed, assigned to ZeRodriguez

[2013-07-29 18:54] ZeRodriguez commented on #103
@msampaio, tarefa concluída.

[2013-07-29 19:04] ZeRodriguez commented on #107
@msampaio, vi agora que mesmo na pasta das originais, a música foi transcrita com alguns equívocos. Ela terá que ser refeita desde o original para depois expandir. Depois de expandida, avisarei para que o senhor possa gerar o arquivo "numbered", para que possa ser feita a segmentação. Contudo, talvez essa tarefa não possa ser concluída para amanhã. Mas tentarei concluí-la.

[2013-07-29 19:16] msampaio commented on #107
@ZeRodriguez, veja se tem como aproveitar o arquivo original. Não será difícil expandir com ele pronto.

[2013-07-29 23:43] AlissonGSilva commented on #104
Revisei todos os listados, inclusive abri os arquivos .form.
O único problema que persiste são alguns choros que tem uma forma confusa, criando insegurança quanto a segmentação. A maioria dos choros tem problemas nas partituras originais.

[2013-07-30 05:49] SimeiFerreira commented on #102
@msampaio, mais uma peculiaridade que me deixou em dúvida e me obriga a recorrer a ti novamente. No choro 39 "Meu caro amigo" da coleção "O melhor do choro vol. 3" eu identifiquei uma parte com um período e mais duas partes com dois períodos, sendo que cada um desses períodos da segunda e terceira parte contam com três frases cada um, de acordo com o que pude analizar. Você poderia conferir para v

[2013-07-31 00:16] menahemhein commented on #91
Os problemas foram corrigidos !

[2013-07-31 00:16] menahemhein commented on #96
Os problemas foram corrigidos !

[2013-07-31 03:21] drakoor commented on #92
Já estou corrigindo isso professor.

Em 29 de julho de 2013 09:07, Marcos da Silva Sampaio <
notifications@github.com> escreveu:

[2013-07-31 19:31] msampaio commented on #85
@daniloabrahao, você já consegue cadastrar as referências no Mendeley?

[2013-07-31 22:49] ZeRodriguez commented on #92
@msampaio, revisei as segmentações como o senhor me pediu. As mudanças feitas por mim estão registradas num bloco de notas que coloquei na mesma pasta.

[2013-07-31 22:51] ZeRodriguez commented on #107
@msampaio, já fiz uma nova edição. Só falta expandir. Ainda não o fiz pois tenho dúvidas, visto que não havia feito nenhuma expansão. Já estou tirando minhas dúvidas e concluirei esta tarefa o quanto antes.

[2013-07-31 22:52] msampaio commented on #92
@ZeRodriguez, por favor liste aqui o que você colocou nesse arquivo que mencionou.

[2013-07-31 23:01] ZeRodriguez commented on #92
@msampaio, aqui está:

Revisão das segmentações

Melhor do Choro - Vol. III

11 - Frases marcadas pela metade.
12 - Frases marcadas pela metade, não identificou a introdução e marcou períodos com mais mais frases do que realmente era.
13 - Frases marcadas pela metade.
14 - Equívocos na formatação da segmentação. No entanto, a música é muito confusa, não fiz alterações.
15 - Equívocos na formatação

[2013-07-31 23:43] msampaio opened #108 "Mapear o estado atual do cumprimento de tarefas"
Identificar aqui quais das tarefas em aberto já estão cumpridas. Esta tarefa implica em olhar na pasta Dropbox se os arquivos estão presentes ou não. Caso a tarefa esteja cumprida, lista-la aqui. Para listar a tarefa 100, por exemplo, basta indicar `#100` para ver aparecer #100.

[2013-08-01 03:37] ZeRodriguez commented on #107
@msampaio, expansão concluída. Estou a espera do arquivo `numbered`para revisar a segmentação.

[2013-08-01 05:17] ZeRodriguez commented on #102
@SimeiFerreira, o choro número 33 é um bom exemplo sobre as divergências de segmentação que discutimos na última reunião. Como parte de uma tarefa, estou revisando. Esse 33 é um bom exemplo. Peço que dê uma olhada no arquivo `.form` . O arquivo já foi alterado por mim. Mas nesses casos, não há uma elisão entre os finais e inícios de frases. Exemplo:

`# part`
`# period`
`p 90 145`
`p 146 201`

O 1

[2013-08-01 06:09] ZeRodriguez commented on #104
@AlissonGSilva, preciso de sua ajuda. No arquivo `Todas as dúvidas.txt`, revisado por você nessa tarefa, ao lado das anotações há um `(OK)`. Você que colocou esse `(OK)`? Significa que as dúvidas foram sanadas?
Obrigado.

[2013-08-01 06:13] ZeRodriguez commented on #105
@SimeiFerreira, preciso de sua ajuda para terminar minha tarefa #108 . Como não há comentários nessa tarefa, não sei se ela foi concluída. As revisões foram feitas?
Obrigado!

[2013-08-01 07:45] ZeRodriguez commented on #107
@msampaio, como a revisão da segmentação não é tópico desta tarefa, a classificarei como concluída no meu mapeamento da tarefa #108 .

[2013-08-01 07:49] ZeRodriguez commented on #108
#85 - Problemas discutidos em reunião a respeito de etnomusicologia. Conclusão da tarefa suejeita a você.
#86 - Tarefa direcionada a você. Conclusão da tarefa suejeita a você.
#91 - Tarefa concluída.(A)
#92 - Tarefa concluída.
#93 - Não há como avaliar por completo a tarefa. Conclusão da tarefa suejeita a você.
#94 - Tarefa direcionada a você. Conclusão da tarefa suejeita a você. Tarefa relacionad

[2013-08-01 08:41] msampaio commented on #102
@ZeRodriguez, vale a pena colar a imagem do trecho exato que você quer mostrar, como esse exemplo entre os eventos 90 e 201.

[2013-08-01 12:37] AlissonGSilva commented on #104
É isso mesmo.Significa que as dúvidas foram sanadas.
Pus o (OK) pra eu saber quais já tinha verificado e resolvido.

[2013-08-01 16:09] daniloabrahao commented on #85
Não consegui, @msampaio. Baixei o Mendeley, mas ainda não sei como cadastrar...Vi umas coisas de Refworks, mas tinha que fazer upload de arquivo. Eu realmente não entendi.

[2013-08-01 17:18] SimeiFerreira commented on #105
Ainda não @ZeRodriguez, tirei o dia hoje para concluir as pendências das últimas tarefas.

[2013-08-01 17:31] SimeiFerreira commented on #102
Você tem razão @ZeRodriguez de fato eu cometi um erro estabelecendo um padrão quando na verdade deveria analizar cada caso separadamente. Já que você está revisando as segmentações, peço que dê uma olhada no choro 39 "Meu caro amigo" e veja se eu segmentei corretamente, a dúvida referente ao mesmo fora postada acima do seu comentário sobre o choro 33.

[2013-08-01 20:55] ZeRodriguez commented on #102
Tranquilo @SimeiFerreira. Posso dar uma olhada sim.

[2013-08-01 20:55] SimeiFerreira commented on #102
@msampaio, para esclarecer de uma vez por todas essa minha dúvida em relação à elisão entre frases, trago o exemplo do choro 44 "Quindim" da coleção "O melhor do choro vol. 3"
![choro 44](https://f.cloud.github.com/assets/3719195/897106/1764d524-faec-11e2-8846-8c0230e14583.jpg)
Uma frase terminaria no evento 40 e a frase seguinte começaria no evento 42, não fosse a anacruze (sol) marcada em vermel

[2013-08-01 20:57] ZeRodriguez commented on #105
Certo @SimeiFerreira. Eu acabei revisando algumas. Eu abri os arquivos `.form` e revisei apenas os que haviam algumas peculiaridades, como períodos com 3 frases. Corrigi algumas coisas. O que foi corrigido por mim, pode ser visto no meu comentário na tarefa #108 . Lá há uma bula do que eu fiz, e há referência à essa tarefa.

[2013-08-01 20:58] ZeRodriguez commented on #104
Como eu imaginava. Obrigado @AlissonGSilva.

[2013-08-01 21:07] ZeRodriguez commented on #102
@SimeiFerreira, fui olhar esse choro agora. Por mais que no início da música, no evento `1`, não tenha anacruse, ela aparece no evento `19`, também um sol. Então, eu marcaria a frase terminando em `40` e a seguinte começando em `41`. Essa é a minha sugestão. Esperemos uma resposta do mestre em contornos @msampaio para tirar nossas dúvidas. Haha...

[2013-08-01 21:21] SimeiFerreira commented on #102
É uma possibilidade, desconsiderando ainda uma possível elisão entre essas duas frases penso que essa anacruze de sol poderia ser marcada como começo da frase de maneira que ela começe no evento 41, mas prefiro realmente esperar o @msampaio se manifestar a respeito.

Em todo caso @ZeRodriguez, somente agora eu vi que você havia segmentado os choros 42 - 45 dessa coleção, segmentei o choro 42 do ze

[2013-08-01 21:25] SimeiFerreira commented on #105
Tranquilo @ZeRodriguez, vou revisar os que você não revisou.

[2013-08-02 01:00] SimeiFerreira commented on #105
@msampaio, preciso que você gere um novo numbered xml para o choro 1 "A bicada do tico tico" da coleção "O melhor do choro vol. 1", um compasso fora "engolido" durante a expansão do mesmo e por isso não pude corrigir a segmentação do mesmo. Já inclui o referido compasso no arquivo .mus expandido.

[2013-08-02 21:06] msampaio commented on #102
@SimeiFerreira e @ZeRodriguez, neste caso do choro 44, considero que uma frase termina no evento 40 e a seguinte se inicia no evento 41. A anacruse faz parte da frase seguinte.
Só haveria elisão se a frase anterior terminasse no evento 41 E a frase posterior iniciasse no mesmo evento 41.

[2013-08-02 21:08] msampaio commented on #102
@SimeiFerreira, ainda há dúvida no choro 39?

[2013-08-02 21:09] msampaio commented on #85
@daniloabrahao, em breve farei um screencast ou um post explicando como cadastrar as coisas no Mendeley. Durante a redação do artigo de choros nós faremos esse cadastro.

[2013-08-02 21:11] #104 closed, assigned to AlissonGSilva

[2013-08-02 21:19] msampaio commented on #92
@ZeRodriguez, por favor reveja a segmentação da música 14. Há períodos com uma única frase.
@drakoor, por favor corrija os problemas de espaçamento que @ZeRodriguez mencionou no comentário anterior.

[2013-08-02 21:22] msampaio commented on #96
@menahemhein, por favor corrija esse choro:

[code]

[2013-08-02 21:23] msampaio commented on #103
@ZeRodriguez, por favor corrija esse problema:

[code]

[2013-08-02 21:25] msampaio commented on #80
@AlissonGSilva, por favor corrija esses problemas:

[code]

[2013-08-02 21:27] #107 closed, assigned to ZeRodriguez

[2013-08-02 21:28] #97 closed, assigned to AlissonGSilva

[2013-08-02 21:29] #91 closed, assigned to menahemhein

[2013-08-02 21:29] #85 closed, assigned to daniloabrahao

[2013-08-02 21:36] msampaio commented on #105
@SimeiFerreira, estou com um problema com a segmentação da música 7 dessa coleção. Não consigo identificar o lugar exato do problema. Você pode ver se há algo errado?

[2013-08-02 21:38] msampaio commented on #105
@SimeiFerreira, já gerei o arquivo enumerado.

[2013-08-02 21:47] #108 closed, assigned to ZeRodriguez

[2013-08-02 22:24] ZeRodriguez commented on #103
@msampaio, problema corrigido.

[2013-08-02 22:37] msampaio commented on #103
Ótimo, @ZeRodriguez. Apenas corrija o sufixo do arquivo de segmentação do choro 50, que está como `.form.txt`. Após corrigir você mesmo pode fechar essa tarefa.

[2013-08-02 22:41] ZeRodriguez commented on #103
@msampaio, corrigido.

[2013-08-02 22:41] #103 closed, assigned to ZeRodriguez

[2013-08-02 22:44] ZeRodriguez commented on #80
@msampaio, como esses arquivos foram revisados por mim, na tarefa #108 , decidi abri-los. Erros detectados e corrigidos. Irei fechar a tarefa.

[2013-08-02 22:45] #80 closed, assigned to AlissonGSilva

[2013-08-02 22:53] ZeRodriguez commented on #96
@msampaio, como @menahemhein me pediu algumas vezes para que eu revisasse suas segmentações, tomei a liberdade e abri o choro acima, com erro. Já o corrigi. Por favor, me perdoe se minha atitude não foi correta.

[2013-08-02 22:56] msampaio commented on #96
Bom trabalho, @ZeRodriguez.

[2013-08-02 22:56] #96 closed, assigned to menahemhein

[2013-08-02 23:06] ZeRodriguez commented on #92
@msampaio, corrigi a segmentação da música 14. Vi agora no meu comentário anterior, que eu havia achado a música confusa, por isso não alterei a segmentação. No entanto, acredito tê-la segmentado agora sem problemas. Quanto aos problemas de espaçamento, também os corrigi. A tarefa está concluída.

[2013-08-02 23:07] msampaio commented on #99
Não entendi como manipular o objeto `MeterTerminal` para obter os conteúdos de tempo. Buscarei ajuda na [lista do Music21](https://groups.google.com/forum/#!forum/music21list).

[2013-08-02 23:09] #92 closed, assigned to drakoor

[2013-08-02 23:11] ZeRodriguez commented on #102
Concordo com o professor. Na verdade, eu vi agora que escrevi que segmentaria começando na `42` quando quis dizer `41`, visto que a anacruse faz parte da frase. Alterei meu comentário. Quanto ao choro 43 @SimeiFerreira, sei que se trata de uma coda, só achei que deveria marcá-la como `l 372 - 400`. O certo então seria marcá-lo dessa forma?

`# part`
`p 372 400`

[2013-08-02 23:15] msampaio commented on #105
@SimeiFerreira, tem algum problema com as segmentações dos choros 7, 14, e 43. Por favor corrija-os.

[2013-08-02 23:22] ZeRodriguez commented on #105
@msampaio, você pode dá uma olhada num comentário que acabei de fazer na tarefa #102 ? Fiz um questionamento à Simei. Se eu estiver certo, esse foi o erro do choro número 14. Estou com ele em aberto esperando uma resposta para corrigi-lo.

[2013-08-02 23:29] SimeiFerreira commented on #102
Isso mesmo cara, a coda é marcada da mesma forma que a introdução.

---

 De: ZeRodriguez notifications@github.com
Para: msampaio/umazero umazero@noreply.github.com
Cc: SimeiFerreira soulluz@yahoo.com.br
Enviadas: Sexta-feira, 2 de Agosto de 2013 20:11
Assunto: Re: [umazero] Segmentar a forma das composições 31-45 do livro O Melhor do choro vol. 3 (#102)

Concordo com o professor. Na verdade, eu v

[2013-08-02 23:30] ZeRodriguez commented on #102
Obrigado @SimeiFerreira.

[2013-08-02 23:50] SimeiFerreira commented on #105
@ZeRodriguez, você revisou algum choro além dos marcados na tarefa #108?

[2013-08-02 23:52] ZeRodriguez commented on #105
@SimeiFerreira, só os listados na letra (F). Como comentei antes, nessa mesma tarefa, eu abri todos os arquivos `.form`, mas só corrigi os que tinham coisas incomuns, como períodos com 3 frases. Então, os que não estão listados lá não foram corrigidos.

[2013-08-02 23:58] SimeiFerreira commented on #105
Certo, vou fazer uma revisão da sua revisão então hahaha.

[2013-08-02 23:59] ZeRodriguez commented on #105
Fique a vontade... Hahaha

[2013-08-03 00:36] daniloabrahao commented on #85
Ok!

[2013-08-03 14:20] msampaio commented on #105
@ZeRodriguez, o único problema agora é com o choro 7. Falta apenas essa música para concluirmos as segmentações :-)

[2013-08-03 14:20] msampaio commented on #102
@SimeiFerreira e @ZeRodriguez, esta tarefa está concluída?

[2013-08-03 14:48] ZeRodriguez commented on #102
Acredito que sim @msampaio. Creio que @SimeiFerreira está apenas fazendo revisões.

[2013-08-03 14:50] ZeRodriguez commented on #105
@msampaio, a respeito do choro número 7, "BH", estava dando uma olhada nele ontem com @AlissonGSilva. Vimos, revimos, chegamos até a abrir o arquivo `numbered` e ainda assim não conseguimos identificar erro algum.

[2013-08-03 18:50] msampaio commented on #105
@ZeRodriguez, @SimeiFerreira e @AlissonGSilva, encontrei o problema no choro 7. Há um segmento de dois eventos (vide figura) `l 690 691`. O programa está quebrando exatamente neste segmento. Como não se trata de uma frase, eu vou remover esse segmento da análise.

![screen shot 2013-08-03 at 15 47 11](https://f.cloud.github.com/assets/1006488/906098/731e1286-fc6d-11e2-8ace-81789f3d2bba.png)

[2013-08-03 18:50] #105 closed, assigned to SimeiFerreira

[2013-08-03 18:52] msampaio commented on #102
@SimeiFerreira, estou fechando a tarefa. Caso modifique algum choro depois do fechamento da tarefa, avise por aqui mesmo.

[2013-08-03 18:52] #102 closed, assigned to SimeiFerreira

[2013-08-03 18:59] msampaio commented on #93
@SaraFadigas, qual o estado desta tarefa?

[2013-08-03 19:28] AlissonGSilva commented on #105
Consertei isso, eu não exclui não, dei uma olhada e escrevi o evento 690 e 691 na frase seguinte.
Loucura minha esse link de 690 691.

[2013-08-04 15:54] msampaio commented on #99
Não foi necessário manipular o objeto `MeterTerminal` para obter os conteúdos de tempo. No entanto a função criada ainda está muito lenta, levando mais de 30 segundos por música para salvar os conteúdos de tempo. O próximo passo para essa tarefa é otimizar o código usando o pacote `cProfile`.

[2013-08-05 04:13] SimeiFerreira commented on #102
Por mim tá tudo ok.

Abraços,

Simei Ferreira.

---

 De: Marcos da Silva Sampaio notifications@github.com
Para: msampaio/umazero umazero@noreply.github.com
Cc: SimeiFerreira soulluz@yahoo.com.br
Enviadas: Sábado, 3 de Agosto de 2013 15:52
Assunto: Re: [umazero] Segmentar a forma das composições 31-45 do livro O Melhor do choro vol. 3 (#102)

@SimeiFerreira, estou fechando a tarefa. Caso modifique

[2013-08-10 11:37] SaraFadigas commented on #93
Nao concluido.

[2013-08-10 11:56] SaraFadigas commented on #93
Em processamento de informacoes pra ser mais exata. Tenho algum prazo para entrega? Posso adiantar um resultado parcial.

[2013-08-10 12:03] msampaio opened #109 "Atualizar dados para estudo estatístico"
Atualizar as planilhas para estudo estatístico com os dados já finalizados da pesquisa

[2013-08-10 12:03] msampaio commented on #93
@SaraFadigas, aguarde apenas a conclusão da tarefa #109. Iremos focar no artigo resultante da pesquisa com choros apenas daqui a uma semana.

[2013-08-22 20:16] SaraFadigas commented on #109
Como está a atualização dos dados @msampaio ?

[2013-08-23 11:12] msampaio commented on #109
@SaraFadigas, as planilhas estão desatualizadas. Para atualizá-las preciso revisar o programa e implementar funções para extrair dados adicionais, como conteúdos de tempo (tarefa #99), e cruzar dados, como instrumento do compositor.

[2013-08-23 16:58] SaraFadigas commented on #109
Certo.

[2013-09-04 09:14] msampaio opened #110 "Refatorar o software"
A tarefa consiste em remodelar e reimplementar o programa. A tarefa foi iniciada no branch newGeneration.
Essa tarefa é necessária porque com ela poderemos:
1. Deixar estrutura do programa mais clara, com classes mais apropriadas aos objetivos.
2. Ganhar velocidade no processamento das informações.
3. Exportar dados para planilhas com maisfacilidade, para a realizaçāo de estudos estatísticos
4. Fi

[2013-09-04 12:59] msampaio commented on #110
Caso seja necessário criar um banco de dados SQL, ver o OMR [sqlalchemy](http://www.sqlalchemy.org/), conforme sugestão no [stackoverflow](http://stackoverflow.com/questions/18613884/how-to-create-a-sqlite-table-from-a-python-class).

[2013-09-11 19:48] msampaio opened #111 "Verificar técnicas estatísticas aplicáveis aos dados compositor x intervalos"
O objetivo da tarefa é verificar que técnicas estatísticas podem ser utilizadas para otimizar os dados da tabela compositor x intervalos. O objetivo principal é eliminar os ruídos gerados com os intervalos de pouca ocorrência.
Esta tabela representa o número de ocorrências dos intervalos na obra dos compositores listados. Os valores são absolutos.
Nos intervalos, m significa menor, M maior, d dimi

[2013-09-11 19:50] msampaio commented on #111
Uma observação: como algumas obras têm parceria de mais de um compositor, os dados dessas obras aparecem nos números de todos os seus compositores. Dessa forma, o total de ocorrência de cada intervalo não é a soma das ocorrências daquele intervalo em todos os compositores.

[2013-09-11 20:22] msampaio commented on #111
@SaraFadigas, eu inseri várias outras tabelas na mesma pasta Dropbox/genos-choros/. Estão em format csv. Qualquer software de planilha abre esse arquivo normalmente.

[2013-09-12 03:12] SaraFadigas commented on #111
certo. vou olhar as tabelas

[2013-09-12 12:42] msampaio commented on #99
Não usei o código do commit db0907d para programar a função.

[2013-09-12 13:25] msampaio commented on #99
A função implementada no commit 7fc64ac não resolveu o problema, pois não contempla anacruse.

[2013-09-12 21:25] msampaio commented on #111
Caso precise inverter colunas e linhas, veja [aqui](http://www.weliveonline.net/blog/2008/02/13/flip-rows-and-columns-in-openoffice/) como fazer.

[2013-09-12 22:01] msampaio commented on #86
Flávio Assis me recomendou procurar orientação de um estatístico para esta tarefa.

[2013-09-16 03:48] SaraFadigas commented on #111
Certo. Se eu tiver algum problema eu grito.. kkkk

[2013-09-26 15:04] msampaio commented on #111
@SaraFadigas, qual o estado desta tarefa?

[2013-09-27 01:34] SaraFadigas commented on #111
em processo.

[2013-09-27 21:22] msampaio commented on #100
Ótimo, @SaraFadigas. Por favor informe aqui como você está fazendo para verificar essas técnicas. Precisamos avançar neste estudo estatístico.
No processo de refatoração eu criei uma função (commit 5466cd9) para cruzar dados de todos os parâmetros musicais, como âmbito, contorno, duração, com todas as informações musicológicas, como ano de nascimento, instrumento principal, etc. Com isso poderemos

[2013-10-01 18:14] SaraFadigas commented on #111
@msampaio o senhor tem os dados dos intervalos encontrados nas peças de Pixiguinha? com quem foi que ele tem várias co-composições? Tem os dados dos intervalos desse outro compositor também? Preciso dessas informações para tirar as repetições.

[2013-10-01 22:10] SaraFadigas commented on #100
Transpus a tabela para melhor visualizar os dados. Em seguida somei todas as ocorrências de intervalos de cada compositor, e então calculei a porcentagem de ocorrência de cada tipo de intervalo. com esses dados eu posso ter uma idéia geral do uso dos intervalos por compositor. A partir daí pensei em fazer uma média aritmética das menores porcentagens de ocorrências de intervalos pra estabelecer um

[2013-10-01 23:42] msampaio commented on #100
Ótimo, @SaraFadigas. Siga em frente e me atualize.

[2013-10-01 23:46] msampaio commented on #111
@SaraFadigas, por hora você pode ver as composições neste [arquivo json](https://github.com/msampaio/umazero/blob/refactor/json/pieces.json).
Não sei como resolver esse problema das repetições das músicas. Você tem alguma sugestão?

[2013-10-02 14:18] SaraFadigas commented on #111
Eu tenho uma ideia, por isso pedi esse material. Eu pensei em analisar esses duos em separado. ver as porcentagens de cada um em solo e ver a participação de cada um nos duos. Não sei se vai gerar algum resultado que seja aproveitável, mas eu quero tentar, pelo menos pra eliminar todas as tentativas.

[2013-10-02 14:19] SaraFadigas commented on #111
Esse arquivo tem a informacao sobre os intervalos? pelo que eu vi só tem a informacao de quais musica foram feitas em duo.

[2013-10-02 14:25] SaraFadigas commented on #111
eu encontro esses dados em numeros no dropbox? caso afirmativo, qual arquivo?

[2013-10-02 14:34] msampaio commented on #111
@SaraFadigas, não tenho como isolar esses dados neste momento, pois estou reimplementando o código para realização de consultas no programa (tarefa #110). Tão logo acabe essa implementação, irei gerar as tabelas para você.
A ideia é gerar uma tabela para cada composição que tem mais de um compositor?

[2013-10-02 15:00] SaraFadigas commented on #111
se for melhor pra voce fazer assim, eu prefiro. nas linhas os tipos de intervalos e nas colunas as peças de um duo. uma tabela por duo, se houver mais de um.

[2013-10-02 15:21] msampaio commented on #111
Acho que agora entendi. Você quer uma tabela de intervalos de todas as peças compostas por mais de uma pessoa. É isso?

[2013-10-02 15:46] SaraFadigas commented on #111
Isso! mas se for mais de um duo voce separa em outras planilhas, pra ficar mais claro.

[2013-10-02 15:58] msampaio commented on #111
Sara, apaguei as mensagens repetidas.
1. Você chama de duo a composição com mais de um compositor?
2. Você quer que eu gere uma planilha para cada peça composta por mais de um autor? São 77 obras com dois ou mais compositores (44% do total).

[2013-10-02 16:17] SaraFadigas commented on #111
1. sim, é porque eu imagino que nao tenha composições com mais de dois compositores, mas se tiver, essa é a ideia.
2. Eu quero uma planilha pra cada parceria, com todas as peças que aquela parceria compôs, tipo, todas as peças que Pixinguinha compôs com Benedito Lacerda, por exemplo.

[2013-10-02 16:31] msampaio commented on #111
Entendi. Em breve te passo esses dados.

[2013-10-02 16:43] SaraFadigas commented on #111
nao precisa pressa. vou aproveitar pra fazer esse mesmo procedimento nas outras tabelas que tem no dropbox.

[2013-10-02 16:49] msampaio commented on #111
Não gaste tempro transpondo tabelas. Prefiro que use esse tempo para modelar os dados que você precisa. Estou exatamente trabalhando na modelagem dos dados de saída do programa.

[2013-10-02 16:54] SaraFadigas commented on #111
mas o que vai ser feito das outras tabelas? os outros dados a respeito das composicoes?

[2013-10-02 18:32] msampaio commented on #111
Eu as gerei automaticamente. Quando concluir a implementação da saída de dados irei gerá-las novamente.

[2013-10-02 18:48] SaraFadigas commented on #111
ah... ok

[2019-03-18 20:09] #111 closed, assigned to SaraFadigas

[2019-03-18 20:09] #110 closed, assigned to msampaio

[2019-03-18 20:09] #109 closed, assigned to msampaio

[2019-03-18 20:09] #100 closed, assigned to msampaio

[2019-03-18 20:09] #99 closed, assigned to msampaio

[2019-03-18 20:10] #94 closed, assigned to msampaio

[2019-03-18 20:10] #93 closed, assigned to SaraFadigas

[2019-03-18 20:10] #86 closed, assigned to msampaio